corejava/doc
fonts/fonts.dir
fonts/fonts.scale
gaffe/classes
gaffe/eclipse_bulid
gaffe/generator/classes
gaffe/resources/net/sourceforge/czt/animation/gui/GPL.txt
gnast/src/xsd/*.xsd
/lib
parser/doc/*.html
parser/doc/*.pdf
parser/doc/api
parser/doc/changes.rss
parser/doc/favicon.ico
parser/doc/images
parser/doc/skin
typechecker-circus/nbproject
typechecker-circus/target
typechecker/doc
zlive/doc/api
