* text=auto !eol
gaffe/resources/czt/animation/gui/design/moveIcon.gif svneol=native#unset
gaffe/resources/czt/animation/gui/design/moveIcon.png svneol=native#unset
gaffe/resources/czt/animation/gui/design/selectIcon.gif svneol=native#unset
gaffe/resources/czt/animation/gui/design/selectIcon.png svneol=native#unset
