* text=auto !eol
/COPYING.txt -text
admin/binary_release/bbook.utf16 -text
admin/binary_release/screenshot.png -text
bin/bsh/parseCircus.bsh -text
corejava/.classpath -text
corejava/.project -text
corejava/pom.xml -text
corejava/src/documentation/resources/images/apichange.jpg svneol=native#unset
corejava/src/documentation/resources/images/cztlogo.jpg svneol=native#unset
corejava/src/documentation/resources/images/sflogo.png svneol=native#unset
devtools/.classpath -text
devtools/.project -text
doc/architecture.pdf -text
doc/architecture.sxd -text
doc/eclipse-projects.zip -text
doc/papers/ifm/Typecheckers.zuml -text
doc/papers/ifm/mc.arch.stages.eps -text
doc/refcard/z/refcard.dvi -text
doc/refcard/z/refcard.p1.latb -text
doc/refcard/z/refcard.p2.latb -text
eclipse/icons/sample.gif -text
eclipse/icons/term_highlight.gif -text
eclipse/src/main/java/net/sourceforge/czt/eclipse/editors/actions/AbstractConversionAction.java -text
eclipse/src/main/java/net/sourceforge/czt/eclipse/editors/actions/Convert2LatexAction.java -text
eclipse/src/main/java/net/sourceforge/czt/eclipse/editors/actions/Convert2OldLatexAction.java -text
eclipse/src/main/java/net/sourceforge/czt/eclipse/editors/actions/Convert2UnicodeAction.java -text
eclipse/src/main/java/net/sourceforge/czt/eclipse/editors/actions/Convert2XMLAction.java -text
eclipse/src/main/java/net/sourceforge/czt/eclipse/editors/latex/ZLatexPairMatcher.java -text
eclipse/src/main/java/net/sourceforge/czt/eclipse/views/ZConversionView.java -text
fonts/CZTSans.ttf -text
gaffe/COPYING.txt -text
gaffe/doc/thesis/exercises.pdf svneol=native#unset
gaffe/doc/thesis/guide.pdf svneol=native#unset
gaffe/doc/thesis/thesis.pdf svneol=native#unset
gaffe/pom.xml -text
gaffe/resources/net/sourceforge/czt/animation/gui/beans/ScriptIcon.gif svneol=native#unset
gaffe/resources/net/sourceforge/czt/animation/gui/design/XCursor.gif svneol=native#unset
gaffe/resources/net/sourceforge/czt/animation/gui/design/deleteEventIcon.gif svneol=native#unset
gaffe/resources/net/sourceforge/czt/animation/gui/design/deleteIcon.gif svneol=native#unset
gaffe/resources/net/sourceforge/czt/animation/gui/design/eventIcon.gif svneol=native#unset
gaffe/resources/net/sourceforge/czt/animation/gui/design/selectIcon.gif svneol=native#unset
gaffe/resources/net/sourceforge/czt/animation/gui/gaffe.gif svneol=native#unset
gaffe/src/net/sourceforge/czt/animation/gui/history/ZLiveHistory.java -text
gnast/pom.xml -text
gnast/src/vm/AssignmentPairs.java -text
gnast/src/vm/AssignmentPairsImpl.java -text
gnast/src/vm/CallProcess.java -text
gnast/src/vm/CallProcessImpl.java -text
gnast/src/vm/QualifiedDecl.java -text
gnast/src/vm/QualifiedDeclImpl.java -text
gnast/src/vm/SpecStmtCommand.java -text
gnast/src/vm/SpecStmtCommandImpl.java -text
jaxb/.classpath -text
jaxb/.project -text
jaxb/COPYING.txt -text
jaxb/build.xml -text
jaxb/pom.xml -text
jedit/.classpath -text
jedit/.project -text
jedit/ZCharMap/CircusTable.xml -text
jedit/ZSideKick/src/main/java/zsidekick/CircusLatexParser.java -text
jedit/ZSideKick/src/main/java/zsidekick/CircusParser.java -text
jedit/Zchars.utf16 svneol=native#unset
jedit/src/site/content/xdocs/images/cztlogo.jpg -text
jedit/src/site/content/xdocs/images/sflogo.png -text
modeljunit/COPYING.txt -text
modeljunit/jdsl/overview/overview.pdf -text
modeljunit/jdsl/tutorial/lesson06/tree.jpg -text
modeljunit/jdsl/tutorial/lesson06/treeWithBoxes.jpg -text
modeljunit/jdsl/tutorial/lesson07/support/data/flights.dat -text svneol=unset#application/octet-stream
modeljunit/jdsl/tutorial/lesson07/support/data/full_flights.dat -text svneol=unset#application/octet-stream
modeljunit/jdsl/tutorial/lesson07/support/data/full_graph.dat -text svneol=unset#application/octet-stream
modeljunit/jdsl/tutorial/lesson07/support/data/graph.dat -text svneol=unset#application/octet-stream
modeljunit/jdsl/tutorial/lesson07/support/data/sparse_flights.dat -text svneol=unset#application/octet-stream
modeljunit/jdsl/tutorial/lesson07/support/data/sparse_graph.dat -text svneol=unset#application/octet-stream
modeljunit/jdsl/tutorial/lesson07/support/data/ultrasparse_flights.dat -text svneol=unset#application/octet-stream
modeljunit/jdsl/tutorial/lesson07/support/data/ultrasparse_graph.dat -text svneol=unset#application/octet-stream
modeljunit/jdsl/tutorial/lesson07/support/images/map.gif -text
parser/.classpath -text
parser/.project -text
parser/COPYING.txt -text
parser/doc/parser.sxd -text
parser/doc/z/Z[!!-~]Latex2Unicode[!!-~]JFlex[!!-~]States[!!-~]Diagram.pdf -text
parser/doc/z/Z[!!-~]Latex2Unicode[!!-~]JFlex[!!-~]States[!!-~]Diagram.vsd -text
parser/pom.xml -text
parser/src/documentation/resources/images/cztlogo.jpg svneol=native#unset
parser/src/documentation/resources/images/sflogo.png svneol=native#unset
parser/src/main/java/net/sourceforge/czt/parser/circus/CircusKeyword.java -text
parser/src/main/java/net/sourceforge/czt/parser/circus/CircusToken.java -text
parser/src/main/java/net/sourceforge/czt/parser/oz/OzKeyword.java -text
parser/src/main/java/net/sourceforge/czt/parser/tcoz/TcozKeyword.java -text
parser/src/main/java/net/sourceforge/czt/parser/z/doc-files/parser.jpg -text
parser/src/main/java/net/sourceforge/czt/parser/zpatt/ZPattKeyword.java -text
parser/src/main/java/net/sourceforge/czt/print/circus/AstToPrintTreeVisitor.java -text
parser/src/main/java/net/sourceforge/czt/print/circus/CircusPrintVisitor.java -text
parser/src/main/java/net/sourceforge/czt/print/circus/LatexPrinterCommand.java -text
parser/src/main/java/net/sourceforge/czt/print/circus/NewlineScanner.java -text
parser/src/main/java/net/sourceforge/czt/print/circus/PrintUtils.java -text
parser/src/main/java/net/sourceforge/czt/print/circus/UnicodePrinter.java -text
parser/src/main/java/net/sourceforge/czt/print/circus/UnicodePrinterCommand.java -text
parser/src/main/java/net/sourceforge/czt/print/circus/UnicodeToLatex.java -text
parser/src/main/java/net/sourceforge/czt/print/circus/XmlPrinterCommand.java -text
parser/src/main/java/net/sourceforge/czt/print/circus/ZmlScanner.java -text
parser/src/main/java/net/sourceforge/czt/print/util/PrintException.java -text
parser/src/main/resources/lib/circus.unicode.latb -text
parser/tests/circus/unboxed_circus_steam_boiler.tex -text
/pom.xml -text
rules/.classpath -text
rules/.project -text
rules/COPYING.txt -text
rules/pom.xml -text
session/.classpath -text
session/.project -text
session/COPYING.txt -text
session/src/main/resources/circus.commands -text
typechecker/.classpath -text
typechecker/.project -text
typechecker/COPYING.txt -text
typechecker/pom.xml -text
typechecker/src/site/content/xdocs/images/cztlogo.jpg -text
typechecker/src/site/content/xdocs/images/sflogo.png -text
ui/pom.xml -text
ui/src/assemble/dep.xml -text
ui/src/main/java/net/sourceforge/czt/ui/Main.java -text
ui/src/main/resources/net/sourceforge/czt/ui/command.properties -text
util/.classpath -text
util/.project -text
util/COPYING.txt -text
util/build.xml -text
util/pom.xml -text
web/cztlogo/cztlogo.xcf -text
web/cztlogo/czttitle.xcf -text
web/cztlogo/czttitle3.xcf -text
web/cztlogo/wordart.png -text
web/src/resources/images/built-with-forrest-button.png -text
web/src/resources/images/cztlogo.jpg -text
web/src/resources/images/jedit_screen.png -text
web/src/resources/images/jedit_unicode_example.png svneol=native#unset
web/src/resources/images/plugin.png -text
web/src/resources/images/project.jpg -text
web/src/resources/images/sflogo.png -text
zlive/.classpath -text
zlive/.project -text
zlive/COPYING.txt -text
zlive/doc/design.pdf -text
zlive/pom.xml -text
zlive/src/documentation/resources/images/cztlogo.jpg svneol=native#unset
zlive/src/documentation/resources/images/project.jpg svneol=native#unset
zlive/src/documentation/resources/images/project.png svneol=native#unset
zlive/src/documentation/resources/images/sflogo.png svneol=native#unset
zlive/src/documentation/resources/images/zlive.xcf svneol=native#unset
zlive/src/main/java/net/sourceforge/czt/animation/eval/flatpred/FlatPowerSet.java -text
zlive/src/main/java/net/sourceforge/czt/animation/eval/flatpred/FlatPowerSetVisitor.java -text
zlive/tests/UserTest-Statistics.xls -text
zml/examples/z/bbook.utf16 svneol=native#unset
zml/examples/z/birthdaybook.utf16 -text
