#*
Copyright 2003 Petra Malik
This file is part of the czt project.

The czt project contains free software; you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation; either version 2 of the License, or
(at your option) any later version.

The czt project is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with czt; if not, write to the Free Software
Foundation, Inc., 59 Temple Place, Suite 330, Boston, MA  02111-1307  USA
*#
#if($copyright)#include($copyright)
#end
package ${BasePackage}.${class.Package};

#if($ImportPackage)import ${ImportPackage}.ast.*;
#end
import #package(${AstPackage}).*;

/**
 * An interface that collects all single visitor interfaces
 * contained in this package.
 *
#if($author) * @author ${author}
#end
 */
public interface ${class.Name}
  extends
#foreach($c in $classes)
#if(! ${c.Abstract})
    ${BasePackage}.visitor.${c.Name}Visitor,
#end
#end
    net.sourceforge.czt.util.Visitor
{
}
