<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 3.2 Final//EN">
<html>
<head>
<title>Implementation classes for the Abstract Syntax Tree (AST)
for ${Name}</title>
</head>
<body>

<p>
Implementation classes for the Abstract Syntax Tree (AST)
for ${Name}.  This package provides implementations for all interfaces
in {@link ${project.AstPackage}}.
To get an instance of one of the classes provided here use the {@link
${project.getObject("AstFactoryImpl").getFullName()}}.
</p>

</body>
</html>
