<project name="Foo" default="all">
  <property name="czt.home" location=".."/>
  <property file="${czt.home}/czt.properties"/>
  <property name="foo.jar.dir" location="${czt.home}/${jar.dir}"/>
  <property name="foo.jar.file" location="${foo.jar.dir}/foo.jar"/>
  <property name="foo.src.dir" location="src"/>
  <property name="foo.build.dir" location="build"/>
  <property name="foo.api.dir" location="doc/api"/>

  <target name="init">
    <tstamp/>
    <mkdir dir="${foo.build.dir}"/>
  </target>

  <target name="all" depends="install, doc"
    description="build the jar files and the documentation"/>

  <target name="install" depends="compile"
          description="build and install the jar files">
    <mkdir dir="${foo.jar.dir}"/>
    <jar jarfile="${foo.jar.file}">
      <fileset dir="${foo.build.dir}"/>
    </jar>
  </target>

  <target name="compile" depends="init"
          description="compile the sources">
    <javac srcdir="${foo.src.dir}"
           destdir="${foo.build.dir}">
    </javac>
  </target>

  <target name="doc" depends="api"
    description="build all the documentation"/>

  <target name="api"
          description="build the API documentation">
    <mkdir dir="${foo.api.dir}"/>
    <javadoc
      destdir="${foo.api.dir}"
      private="true">
      <packageset dir="${foo.src.dir}"/>
      <tag name="czt.todo" description="To do:"/>
    </javadoc>
  </target>

  <target name="test" depends="install"
    description="build and run the tests">
    <ant dir="tests"/>
  </target>

  <target name="checkstyle" description="check java sources">
    <taskdef resource="checkstyletask.properties"
      classpath="${checkstyle.jar}"/>
    <checkstyle config="${czt.home}/devtools/checkstyle.xml">
      <fileset dir="${foo.src.dir}"/>
      <formatter type="plain"/>
    </checkstyle>
  </target>

  <target name="clean"
          description="clean up">
    <delete dir="${foo.build.dir}"/>
    <delete dir="${foo.api.dir}"/>
    <ant dir="tests" target="clean"/>
  </target>
</project>
