<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>

   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="net.sourceforge.czt.eclipse.editors.zeditor.ZEditor"
            contributorClass="net.sourceforge.czt.eclipse.editors.zeditor.ZEditorActionContributor"
            extensions="tex,utf8,utf16"
            icon="icons/sample.gif"
            id="net.sourceforge.czt.eclipse.editors.zeditor.ZEditor"
            name="%Editor.name">
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <category
            id="net.sourceforge.czt.eclipse"
            name="%Views.categoryName"/>
      <view
            category="net.sourceforge.czt.eclipse"
            class="net.sourceforge.czt.eclipse.views.ZCharMapView"
            icon="icons/sample.gif"
            id="net.sourceforge.czt.eclipse.views.ZCharMapView"
            name="%CharMapView.name"/>
      <view
            category="net.sourceforge.czt.eclipse"
            class="net.sourceforge.czt.eclipse.views.ZConversionView"
            icon="icons/sample.gif"
            id="net.sourceforge.czt.eclipse.views.ZConversionView"
            name="%ConversionView.name"/>
   </extension>
   <extension
         id="CZTDocumentSetupParticipant"
         name="%DocumentSetupParticipant.name"
         point="org.eclipse.core.filebuffers.documentSetup">
      <participant
            class="net.sourceforge.czt.eclipse.editors.latex.ZDocumentSetupParticipant_Latex"
            extensions="tex"/>
      <participant
            class="net.sourceforge.czt.eclipse.editors.unicode.ZDocumentSetupParticipant_Utf8"
            extensions="utf8"/>
      <participant
            class="net.sourceforge.czt.eclipse.editors.unicode.ZDocumentSetupParticipant_Utf16"
            extensions="utf16"/>
   </extension>
   <extension
         id="problemmarker"
         name="%ProblemMarker.name"
         point="org.eclipse.core.resources.markers">
      <super type="org.eclipse.core.resources.problemmarker"/>
      <super type="org.eclipse.core.resources.textmarker"/>
      <persistent value="true"/>
      <attribute name="problemId"/>
   </extension>
   <extension
         id="taskmarker"
         name="%TaskMarker.name"
         point="org.eclipse.core.resources.markers">
      <super type="org.eclipse.core.resources.taskmarker"/>
      <super type="org.eclipse.core.resources.textmarker"/>
      <persistent value="true"/>
      <attribute name="taskId"/>
   </extension>
   <extension
         id="bookmarkmarker"
         name="%BookmarkMarker.name"
         point="org.eclipse.core.resources.markers">
      <super type="org.eclipse.core.resources.bookmark"/>
      <super type="org.eclipse.core.resources.textmarker"/>
      <persistent value="true"/>
      <attribute name="bookmarkId"/>
   </extension>
   <extension
         id="occurrencemarker"
         name="%OccurrenceMarker.name"
         point="org.eclipse.core.resources.markers">
      <super type="org.eclipse.core.resources.textmarker"/>
      <persistent value="false"/>
      <attribute name="term"/>
   </extension>
   <extension
         id="termhighlightmarker"
         name="%TermHighlightMarker.name"
         point="org.eclipse.core.resources.markers">
      <super type="org.eclipse.core.resources.textmarker"/>
      <persistent value="false"/>
      <attribute name="term"/>
   </extension>
   <extension
         point="org.eclipse.ui.editors.annotationTypes">
      <type
            markerSeverity="2"
            markerType="net.sourceforge.czt.eclipse.problemmarker"
            name="net.sourceforge.czt.eclipse.error"
            super="org.eclipse.ui.workbench.texteditor.error"/>
      <type
            markerSeverity="1"
            markerType="net.sourceforge.czt.eclipse.problemmarker"
            name="net.sourceforge.czt.eclipse.warning"
            super="org.eclipse.ui.workbench.texteditor.warning"/>
      <type
            markerSeverity="0"
            markerType="net.sourceforge.czt.eclipse.problemmarker"
            name="net.sourceforge.czt.eclipse.info"
            super="org.eclipse.ui.workbench.texteditor.info"/>
      <type
            markerType="net.sourceforge.czt.eclipse.taskmarker"
            name="net.sourceforge.czt.eclipse.task"
            super="org.eclipse.ui.workbench.texteditor.task"/>
      <type
            markerType="net.sourceforge.czt.eclipse.bookmarkmarker"
            name="net.sourceforge.czt.eclipse.bookmark"
            super="org.eclipse.ui.workbench.texteditor.bookmark"/>
      <type
            markerType="net.sourceforge.czt.eclipse.occurrencemarker"
            name="net.sourceforge.czt.eclipse.occurrence"
            super="org.eclipse.jdt.ui.occurrences"/>
      <type
            markerType="net.sourceforge.czt.eclipse.termhighlightmarker"
            name="net.sourceforge.czt.eclipse.termhighlight"/>
   </extension>
   <extension
         point="org.eclipse.ui.editors.markerAnnotationSpecification">
      <specification
            annotationType="net.sourceforge.czt.eclipse.termhighlight"
            colorPreferenceKey="termHighlightIndicationColor"
            colorPreferenceValue="255,248,147"
            contributesToHeader="false"
            highlightPreferenceKey="termHighlightHighlighting"
            highlightPreferenceValue="true"
            icon="icons/term_highlight.gif"
            includeOnPreferencePage="true"
            isGoToNextNavigationTarget="false"
            isGoToNextNavigationTargetKey="isTermHighlightGoToNextNavigationTarget"
            isGoToPreviousNavigationTarget="false"
            isGoToPreviousNavigationTargetKey="isTermHighlightGoToPreviousNavigationTarget"
            label="%TermHighlightAnnotation.label"
            overviewRulerPreferenceKey="termHighlightIndicationInOverviewRuller"
            overviewRulerPreferenceValue="false"
            presentationLayer="4"
            showInNextPrevDropdownToolbarAction="true"
            showInNextPrevDropdownToolbarActionKey="showTermHighlightInNextPrevDropdownToolbarAction"
            symbolicIcon="info"
            textPreferenceKey="termHighlightTextIndication"
            textPreferenceValue="false"
            textStylePreferenceKey="termHighlightTextStyle"
            textStylePreferenceValue="BOX"
            verticalRulerPreferenceKey="termHighlightIndicationInVerticalRuller"
            verticalRulerPreferenceValue="false"/>
   </extension>
   <extension
         point="org.eclipse.ui.actionSets">
      <actionSet
            description="%EditorConversionActionSet.description"
            id="net.sourceforge.czt.eclipse.EditorConversionActionSet"
            label="%EditorConversionActionSet.label"
            visible="false">
      </actionSet>
   </extension>
   <extension
         point="org.eclipse.ui.actionSetPartAssociations">
      <actionSetPartAssociation targetID="net.sourceforge.czt.eclipse.EditorConversionActionSet">
         <part id="net.sourceforge.czt.eclipse.editors.zeditor.ZEditor"/>
      </actionSetPartAssociation>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <category
            description="%category.source.description"
            id="net.sourceforge.czt.eclipse.category.source"
            name="%category.source.name"/>
      <command
            categoryId="net.sourceforge.czt.eclipse.category.source"
            description="Go to declaration of a term"
            id="net.sourceforge.czt.eclipse.editoraction.gotodeclaration"
            name="Go To Declaration"/>
      <command
            categoryId="net.sourceforge.czt.eclipse.category.source"
            description="Expand current selection to the enclosing element"
            id="net.sourceforge.czt.eclipse.editoraction.expandselection"
            name="Expand Selection"/>
      <command
            categoryId="net.sourceforge.czt.eclipse.category.source"
            description="Restore last expansion"
            id="net.sourceforge.czt.eclipse.editoraction.contractselection"
            name="Contract Selection"/>
      <command
            categoryId="net.sourceforge.czt.eclipse.category.source"
            description="Convert current specification to latex markup"
            id="net.sourceforge.czt.eclipse.editoraction.convert2latex"
            name="Convert To Latex"/>
      <command
            categoryId="net.sourceforge.czt.eclipse.category.source"
            description="Convert current specification to old latex markup"
            id="net.sourceforge.czt.eclipse.editoraction.convert2oldlatex"
            name="Convert To Old Latex"/>
      <command
            categoryId="net.sourceforge.czt.eclipse.category.source"
            description="Convert current specification to unicode markup"
            id="net.sourceforge.czt.eclipse.editoraction.convert2unicode"
            name="Convert To Unicode"/>
      <command
            categoryId="net.sourceforge.czt.eclipse.category.source"
            description="Convert current specification to XML"
            id="net.sourceforge.czt.eclipse.editoraction.convert2xml"
            name="Convert To XML"/>
   </extension>
   <extension
         point="org.eclipse.ui.contexts">
      <context
            description="%context.EditingZSource.description"
            id="net.sourceforge.czt.eclipse.ZEditorScope"
            name="%context.EditingZSource.name"
            parentId="org.eclipse.ui.textEditorScope"/>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <scheme
            description="CZT Editor Scheme"
            id="net.sourceforge.czt.eclipse.schemes.editor"
            name="CZT Editor Scheme"
            />
      <key
            commandId="net.sourceforge.czt.eclipse.editoraction.gotodeclaration"
            contextId="net.sourceforge.czt.eclipse.ZEditorScope"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="Ctrl+Shift+G"/>
      <key
            commandId="net.sourceforge.czt.eclipse.editoraction.expandselection"
            contextId="net.sourceforge.czt.eclipse.ZEditorScope"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="Ctrl+Shift+Arrow_Up"/>
      <key
            commandId="net.sourceforge.czt.eclipse.editoraction.contractselection"
            contextId="net.sourceforge.czt.eclipse.ZEditorScope"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="Ctrl+Shift+Arrow_Down"/>
      <key
            commandId="net.sourceforge.czt.eclipse.editoraction.convert2latex"
            contextId="net.sourceforge.czt.eclipse.ZEditorScope"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="Ctrl+Shift+L"/>
      <key
            commandId="net.sourceforge.czt.eclipse.editoraction.convert2oldlatex"
            contextId="net.sourceforge.czt.eclipse.ZEditorScope"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="Ctrl+Shift+O"/>
      <key
            commandId="net.sourceforge.czt.eclipse.editoraction.convert2unicode"
            contextId="net.sourceforge.czt.eclipse.ZEditorScope"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="Ctrl+Shift+U"/>
      <key
            commandId="net.sourceforge.czt.eclipse.editoraction.convert2xml"
            contextId="net.sourceforge.czt.eclipse.ZEditorScope"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="Ctrl+Shift+X"/>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="net.sourceforge.czt.eclipse.perspectives.ZPerspectiveFactory"
            icon="icons/sample.gif"
            id="net.sourceforge.czt.eclipse.perspectives"
            name="CZT"/>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension targetID="org.eclipse.ui.resourcePerspective">
         <perspectiveShortcut id="net.sourceforge.czt.eclipse.perspectives"/>
      </perspectiveExtension>
      <perspectiveExtension targetID="org.eclipse.jdt.ui.JavaPerspective">
         <perspectiveShortcut id="net.sourceforge.czt.eclipse.perspectives"/>
      </perspectiveExtension>
      <perspectiveExtension targetID="org.eclipse.debug.ui.DebugPerspective">
         <perspectiveShortcut id="net.sourceforge.czt.eclipse.perspectives"/>
      </perspectiveExtension>
      <perspectiveExtension targetID="org.eclipse.jdt.ui.JavaBrowsingPerspective">
         <perspectiveShortcut id="net.sourceforge.czt.eclipse.perspectives"/>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="net.sourceforge.czt.eclipse.preferences.CztBasePreferencePage"
            id="net.sourceforge.czt.eclipse.preferences.CztBasePreferencePage"
            name="%CztBasePreferencePageName">
         <keywordReference id="net.sourceforge.czt.eclipse.ui.general"/>
      </page>
      <page
            category="net.sourceforge.czt.eclipse.preferences.CztBasePreferencePage"
            class="net.sourceforge.czt.eclipse.preferences.AppearancePreferencePage"
            id="net.sourceforge.czt.eclipse.preferences.AppearancePreferencePage"
            name="%AppearancePreferencePageName">
         <keywordReference id="net.sourceforge.czt.eclipse.ui.appearance"/>
      </page> <page
            category="net.sourceforge.czt.eclipse.preferences.CztBasePreferencePage"
            class="net.sourceforge.czt.eclipse.preferences.ZEditorPreferencePage"
            id="net.sourceforge.czt.eclipse.preferences.ZEditorPreferencePage"
            name="%ZEditorPreferencePageName">
                 <keywordReference id="net.sourceforge.czt.eclipse.ui.zeditor"/>
      </page>
      <page
            category="net.sourceforge.czt.eclipse.preferences.ZEditorPreferencePage"
            class="net.sourceforge.czt.eclipse.preferences.ZEditorHoverPreferencePage"
            id="net.sourceforge.czt.eclipse.preferences.ZEditorHoverPreferencePage"
            name="%ZEditorHoverPreferencePageName">
         <keywordReference id="net.sourceforge.czt.eclipse.ui.hover"/>
      </page>
      <page
            category="net.sourceforge.czt.eclipse.preferences.ZEditorPreferencePage"
            class="net.sourceforge.czt.eclipse.preferences.ZEditorSyntaxColoringPreferencePage"
            id="net.sourceforge.czt.eclipse.preferences.ZEditorSyntaxColoringPreferencePage"
            name="%ZEditorSyntaxColoringPreferencePageName">
         <keywordReference id="net.sourceforge.czt.eclipse.ui.syntaxcoloring"/>
      </page>
     
      <page
            category="net.sourceforge.czt.eclipse.preferences.ZEditorPreferencePage"
            class="net.sourceforge.czt.eclipse.preferences.ZEditorFoldingPreferencePage"
            id="net.sourceforge.czt.eclipse.preferences.ZEditorFoldingPreferencePage"
            name="%ZEditorFoldingPreferencePageName">
         <keywordReference id="net.sourceforge.czt.eclipse.ui.folding"/>
      </page>
      <page
            category="net.sourceforge.czt.eclipse.preferences.ZEditorPreferencePage"
            class="net.sourceforge.czt.eclipse.preferences.ZEditorHoverPreferencePage"
            id="net.sourceforge.czt.eclipse.preferences.ZEditorHoverPreferencePage"
            name="%ZEditorMarkOccurrancesPreferencePageName">
         <keywordReference id="net.sourceforge.czt.eclipse.ui.markoccurrences"/>
      </page>
   </extension>
   <extension
         point="org.eclipse.ui.keywords">
      <keyword
            id="net.sourceforge.czt.eclipse.ui.general"
            label="%PreferenceKeywords.general"/>
      <keyword
            id="net.sourceforge.czt.eclipse.ui.appearance"
            label="%PreferenceKeywords.appearance"/>
      <keyword
            id="net.sourceforge.czt.eclipse.ui.zeditor"
            label="%PreferenceKeywords.zeditor"/>
      <keyword
            id="net.sourceforge.czt.eclipse.ui.hover"
            label="%PreferenceKeywords.hover"/>
      <keyword
            id="net.sourceforge.czt.eclipse.ui.syntaxcoloring"
            label="%PreferenceKeywords.syntaxcoloring"/>
      <keyword
            id="net.sourceforge.czt.eclipse.ui.folding"
            label="%PreferenceKeywords.folding"/>
      <keyword
            id="net.sourceforge.czt.eclipse.ui.markoccurrences"
            label="%PreferenceKeywords.markoccurrences"/>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer class="net.sourceforge.czt.eclipse.preferences.CZTPreferenceInitializer"/>
   </extension>
   <extension
         point="org.eclipse.ui.newWizards">
      <category
            id="net.sourceforge.czt.eclipse.newwizard"
            name="%NewWizardCategoryName"/>
      <wizard
            category="net.sourceforge.czt.eclipse.newwizard"
            class="net.sourceforge.czt.eclipse.wizards.NewCZTProjectWizard"
            finalPerspective="net.sourceforge.czt.eclipse.perspectives"
            icon="icons/sample.gif"
            id="net.sourceforge.czt.eclipse.wizards.NewCZTProjectWizard"
            name="%NewCZTProjectWizard.label"
            preferredPerspectives="net.sourceforge.czt.eclipse.perspectives"
            project="true"/>
      <wizard
            category="net.sourceforge.czt.eclipse.newwizard"
            class="net.sourceforge.czt.eclipse.wizards.NewZSpecificationWizard"
            finalPerspective="net.sourceforge.czt.eclipse.perspectives"
            icon="icons/sample.gif"
            id="net.sourceforge.czt.eclipse.wizards.NewZSpecificationWizard"
            name="%NewZSpecificationWizard.label"
            preferredPerspectives="net.sourceforge.czt.eclipse.perspectives"
            project="false"/>
   </extension>

</plugin>
