<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>

   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="net.sourceforge.czt.eclipse.editors.zeditor.ZEditor"
            contributorClass="net.sourceforge.czt.eclipse.editors.zeditor.ZEditorActionContributor"
            extensions="tex,utf8,utf16"
            icon="icons/sample.gif"
            id="net.sourceforge.czt.eclipse.editors.zeditor.ZEditor"
            name="%Editor.name">
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <category
            id="net.sourceforge.czt.eclipse"
            name="%Views.categoryName"/>
      <view
            category="net.sourceforge.czt.eclipse"
            class="net.sourceforge.czt.eclipse.views.ZCharMapView"
            icon="icons/sample.gif"
            id="net.sourceforge.czt.eclipse.views.ZCharMapView"
            name="%CharMapView.name"/>
   </extension>
   <extension
         id="CZTDocumentSetupParticipant"
         name="%DocumentSetupParticipant.name"
         point="org.eclipse.core.filebuffers.documentSetup">
      <participant
            class="net.sourceforge.czt.eclipse.editors.latex.ZDocumentSetupParticipant_Latex"
            extensions="tex"/>
      <participant
            class="net.sourceforge.czt.eclipse.editors.unicode.ZDocumentSetupParticipant_Utf8"
            extensions="utf8"/>
      <participant
            class="net.sourceforge.czt.eclipse.editors.unicode.ZDocumentSetupParticipant_Utf16"
            extensions="utf16"/>
   </extension>
   <extension
         id="problemmarker"
         name="%ProblemMarker.name"
         point="org.eclipse.core.resources.markers">
      <super type="org.eclipse.core.resources.problemmarker"/>
      <super type="org.eclipse.core.resources.textmarker"/>
      <persistent value="true"/>
      <attribute name="problemId"/>
   </extension>
   <extension
         id="taskmarker"
         name="%TaskMarker.name"
         point="org.eclipse.core.resources.markers">
      <super type="org.eclipse.core.resources.taskmarker"/>
      <super type="org.eclipse.core.resources.textmarker"/>
      <persistent value="true"/>
      <attribute name="taskId"/>
   </extension>
   <extension
         id="bookmarkmarker"
         name="%BookmarkMarker.name"
         point="org.eclipse.core.resources.markers">
      <super type="org.eclipse.core.resources.bookmark"/>
      <super type="org.eclipse.core.resources.textmarker"/>
      <persistent value="true"/>
      <attribute name="bookmarkId"/>
   </extension>
   <extension
         id="occurrencemarker"
         name="%OccurrenceMarker.name"
         point="org.eclipse.core.resources.markers">
      <super type="org.eclipse.core.resources.textmarker"/>
      <persistent value="false"/>
      <attribute name="term"/>
   </extension>
   <extension
         id="termhighlightmarker"
         name="%TermHighlightMarker.name"
         point="org.eclipse.core.resources.markers">
      <super type="org.eclipse.core.resources.textmarker"/>
      <persistent value="false"/>
      <attribute name="term"/>
   </extension>
   <extension
         point="org.eclipse.ui.editors.annotationTypes">
      <type
            markerSeverity="2"
            markerType="net.sourceforge.czt.eclipse.problemmarker"
            name="net.sourceforge.czt.eclipse.error"
            super="org.eclipse.ui.workbench.texteditor.error"/>
      <type
            markerSeverity="1"
            markerType="net.sourceforge.czt.eclipse.problemmarker"
            name="net.sourceforge.czt.eclipse.warning"
            super="org.eclipse.ui.workbench.texteditor.warning"/>
      <type
            markerSeverity="0"
            markerType="net.sourceforge.czt.eclipse.problemmarker"
            name="net.sourceforge.czt.eclipse.info"
            super="org.eclipse.ui.workbench.texteditor.info"/>
      <type
            markerType="net.sourceforge.czt.eclipse.taskmarker"
            name="net.sourceforge.czt.eclipse.task"
            super="org.eclipse.ui.workbench.texteditor.task"/>
      <type
            markerType="net.sourceforge.czt.eclipse.bookmarkmarker"
            name="net.sourceforge.czt.eclipse.bookmark"
            super="org.eclipse.ui.workbench.texteditor.bookmark"/>
      <type
            markerType="net.sourceforge.czt.eclipse.occurrencemarker"
            name="net.sourceforge.czt.eclipse.occurrence"
            super="org.eclipse.jdt.ui.occurrences"/>
      <type
            markerType="net.sourceforge.czt.eclipse.termhighlightmarker"
            name="net.sourceforge.czt.eclipse.termhighlight"/>
   </extension>
   <extension
         point="org.eclipse.ui.editors.markerAnnotationSpecification">
      <specification
            annotationType="net.sourceforge.czt.eclipse.termhighlight"
            colorPreferenceKey="termHighlightIndicationColor"
            colorPreferenceValue="255,248,147"
            contributesToHeader="false"
            highlightPreferenceKey="termHighlightHighlighting"
            highlightPreferenceValue="true"
            icon="icons/term_highlight.gif"
            includeOnPreferencePage="true"
            isGoToNextNavigationTarget="false"
            isGoToNextNavigationTargetKey="isTermHighlightGoToNextNavigationTarget"
            isGoToPreviousNavigationTarget="false"
            isGoToPreviousNavigationTargetKey="isTermHighlightGoToPreviousNavigationTarget"
            label="%TermHighlightAnnotation.label"
            overviewRulerPreferenceKey="termHighlightIndicationInOverviewRuller"
            overviewRulerPreferenceValue="false"
            presentationLayer="4"
            showInNextPrevDropdownToolbarAction="true"
            showInNextPrevDropdownToolbarActionKey="showTermHighlightInNextPrevDropdownToolbarAction"
            symbolicIcon="info"
            textPreferenceKey="termHighlightTextIndication"
            textPreferenceValue="false"
            textStylePreferenceKey="termHighlightTextStyle"
            textStylePreferenceValue="BOX"
            verticalRulerPreferenceKey="termHighlightIndicationInVerticalRuller"
            verticalRulerPreferenceValue="false"/>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <category
            description="CZT Commands"
            id="net.sourceforge.czt.eclipse.editorcommands"
            name="CZT"/>
      <command
            category="CZT"
            categoryId="net.sourceforge.czt.eclipse.editorcommands"
            description="Go to declaration of a term"
            id="net.sourceforge.czt.eclipse.editoraction.gotodeclaration"
            name="Go To Declaration"/>
      <command
            category="CZT Editor"
            categoryId="net.sourceforge.czt.eclipse.editorcommands"
            description="Expand current selection to the enclosing element"
            id="net.sourceforge.czt.eclipse.editoraction.expandselection"
            name="Expand Selection"/>
      <command
            category="CZT Editor"
            categoryId="net.sourceforge.czt.eclipse.editorcommands"
            description="Restore last expansion"
            id="net.sourceforge.czt.eclipse.editoraction.contractselection"
            name="Contract Selection"/>
   </extension>
   <extension
         point="org.eclipse.ui.contexts">
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="net.sourceforge.czt.eclipse.editoraction.gotodeclaration"
            contextId="net.sourceforge.czt.eclipse.contexts"
            schemeId="net.sourceforge.czt.eclipse.schemes.editor"
            sequence="Ctrl+G"/>
      <key
            commandId="net.sourceforge.czt.eclipse.editoraction.expandselection"
            contextId="net.sourceforge.czt.eclipse.contexts"
            schemeId="net.sourceforge.czt.eclipse.schemes.editor"
            sequence="Ctrl+E"/>
      <key
            commandId="net.sourceforge.czt.eclipse.editoraction.contractselection"
            contextId="net.sourceforge.czt.eclipse.contexts"
            schemeId="net.sourceforge.czt.eclipse.schemes.editor"
            sequence="Ctrl+Shift+E"/>
      <scheme
            description="CZT Editor Scheme"
            id="net.sourceforge.czt.eclipse.schemes.editor"
            name="CZT Editor Scheme"
            parentId="org.eclipse.ui.defaultAcceleratorConfiguration"/>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="net.sourceforge.czt.eclipse.perspectives.ZPerspectiveFactory"
            icon="icons/sample.gif"
            id="net.sourceforge.czt.eclipse.perspectives"
            name="CZT"/>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension targetID="org.eclipse.ui.resourcePerspective">
         <perspectiveShortcut id="net.sourceforge.czt.eclipse.perspectives"/>
      </perspectiveExtension>
      <perspectiveExtension targetID="org.eclipse.jdt.ui.JavaPerspective">
         <perspectiveShortcut id="net.sourceforge.czt.eclipse.perspectives"/>
      </perspectiveExtension>
      <perspectiveExtension targetID="org.eclipse.debug.ui.DebugPerspective">
         <perspectiveShortcut id="net.sourceforge.czt.eclipse.perspectives"/>
      </perspectiveExtension>
      <perspectiveExtension targetID="org.eclipse.jdt.ui.JavaBrowsingPerspective">
         <perspectiveShortcut id="net.sourceforge.czt.eclipse.perspectives"/>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="net.sourceforge.czt.eclipse.preferences.CztBasePreferencePage"
            id="net.sourceforge.czt.eclipse.preferences.CztBasePreferencePage"
            name="%CztBasePreferencePageName">
         <keywordReference id="net.sourceforge.czt.eclipse.ui.general"/>
      </page>
      <page
            category="net.sourceforge.czt.eclipse.preferences.CztBasePreferencePage"
            class="net.sourceforge.czt.eclipse.preferences.AppearancePreferencePage"
            id="net.sourceforge.czt.eclipse.preferences.AppearancePreferencePage"
            name="%AppearancePreferencePageName">
         <keywordReference id="net.sourceforge.czt.eclipse.ui.appearance"/>
      </page> <page
            category="net.sourceforge.czt.eclipse.preferences.CztBasePreferencePage"
            class="net.sourceforge.czt.eclipse.preferences.ZEditorPreferencePage"
            id="net.sourceforge.czt.eclipse.preferences.ZEditorPreferencePage"
            name="%ZEditorPreferencePageName">
                 <keywordReference id="net.sourceforge.czt.eclipse.ui.zeditor"/>
      </page>
      <page
            category="net.sourceforge.czt.eclipse.preferences.ZEditorPreferencePage"
            class="net.sourceforge.czt.eclipse.preferences.ZEditorHoverPreferencePage"
            id="net.sourceforge.czt.eclipse.preferences.ZEditorHoverPreferencePage"
            name="%ZEditorHoverPreferencePageName">
         <keywordReference id="net.sourceforge.czt.eclipse.ui.hover"/>
      </page>
      <page
            category="net.sourceforge.czt.eclipse.preferences.ZEditorPreferencePage"
            class="net.sourceforge.czt.eclipse.preferences.ZEditorSyntaxColoringPreferencePage"
            id="net.sourceforge.czt.eclipse.preferences.ZEditorSyntaxColoringPreferencePage"
            name="%ZEditorSyntaxColoringPreferencePageName">
         <keywordReference id="net.sourceforge.czt.eclipse.ui.syntaxcoloring"/>
      </page>
     
      <page
            category="net.sourceforge.czt.eclipse.preferences.ZEditorPreferencePage"
            class="net.sourceforge.czt.eclipse.preferences.ZEditorFoldingPreferencePage"
            id="net.sourceforge.czt.eclipse.preferences.ZEditorFoldingPreferencePage"
            name="%ZEditorFoldingPreferencePageName">
         <keywordReference id="net.sourceforge.czt.eclipse.ui.folding"/>
      </page>
      <page
            category="net.sourceforge.czt.eclipse.preferences.ZEditorPreferencePage"
            class="net.sourceforge.czt.eclipse.preferences.ZEditorHoverPreferencePage"
            id="net.sourceforge.czt.eclipse.preferences.ZEditorHoverPreferencePage"
            name="%ZEditorMarkOccurrancesPreferencePageName">
         <keywordReference id="net.sourceforge.czt.eclipse.ui.markoccurrences"/>
      </page>
   </extension>
   <extension
         point="org.eclipse.ui.keywords">
      <keyword
            id="net.sourceforge.czt.eclipse.ui.general"
            label="%PreferenceKeywords.general"/>
      <keyword
            id="net.sourceforge.czt.eclipse.ui.appearance"
            label="%PreferenceKeywords.appearance"/>
      <keyword
            id="net.sourceforge.czt.eclipse.ui.zeditor"
            label="%PreferenceKeywords.zeditor"/>
      <keyword
            id="net.sourceforge.czt.eclipse.ui.hover"
            label="%PreferenceKeywords.hover"/>
      <keyword
            id="net.sourceforge.czt.eclipse.ui.syntaxcoloring"
            label="%PreferenceKeywords.syntaxcoloring"/>
      <keyword
            id="net.sourceforge.czt.eclipse.ui.folding"
            label="%PreferenceKeywords.folding"/>
      <keyword
            id="net.sourceforge.czt.eclipse.ui.markoccurrences"
            label="%PreferenceKeywords.markoccurrences"/>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer class="net.sourceforge.czt.eclipse.preferences.CZTPreferenceInitializer"/>
   </extension>

</plugin>
