<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
   <extension-point id="problemSeverityProviders" name="Z Compiler Problem Severity Providers" schema="schema/problemSeverityProviders.exsd"/>

   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="net.sourceforge.czt.eclipse.ui.editors.zeditor.ZEditor"
            contributorClass="net.sourceforge.czt.eclipse.ui.editors.zeditor.ZEditorActionContributor"
            extensions="zed,zed8,zed16"
            icon="icons/ZSpec.png"
            id="net.sourceforge.czt.eclipse.editors.zeditor.ZEditor"
            name="%Editor.name">
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <category
            id="net.sourceforge.czt.eclipse"
            name="%Views.categoryName"/>
      <view
            category="net.sourceforge.czt.eclipse"
            class="net.sourceforge.czt.eclipse.ui.views.ZCharMapView"
            icon="icons/ZSpec.png"
            id="net.sourceforge.czt.eclipse.views.ZCharMapView"
            name="%CharMapView.name"/>
      <view
            category="net.sourceforge.czt.eclipse"
            class="net.sourceforge.czt.eclipse.ui.views.ZConversionView"
            icon="icons/ZSpec.png"
            id="net.sourceforge.czt.eclipse.views.ZConversionView"
            name="%ConversionView.name"/>
      <view
            category="net.sourceforge.czt.eclipse"
            class="net.sourceforge.czt.eclipse.ui.views.ZInfoView"
            icon="icons/ZSpec.png"
            id="net.sourceforge.czt.eclipse.views.ZInfo"
            name="Z Info">
      </view>
   </extension>
   <extension
         id="CZTDocumentSetupParticipant"
         name="%DocumentSetupParticipant.name"
         point="org.eclipse.core.filebuffers.documentSetup">
      <participant
            class="net.sourceforge.czt.eclipse.ui.editors.latex.ZDocumentSetupParticipant_Latex"
            extensions="zed"/>
      <participant
            class="net.sourceforge.czt.eclipse.ui.editors.unicode.ZDocumentSetupParticipant_Utf8"
            extensions="zed8"/>
      <participant
            class="net.sourceforge.czt.eclipse.ui.editors.unicode.ZDocumentSetupParticipant_Utf16"
            extensions="zed16"/>
   </extension>
   <extension
         id="problemmarker"
         name="%ProblemMarker.name"
         point="org.eclipse.core.resources.markers">
      <super type="org.eclipse.core.resources.problemmarker"/>
      <super type="org.eclipse.core.resources.textmarker"/>
      <persistent value="true"/>
      <attribute name="problemId"/>
   </extension>
   <extension
         id="taskmarker"
         name="%TaskMarker.name"
         point="org.eclipse.core.resources.markers">
      <super type="org.eclipse.core.resources.taskmarker"/>
      <super type="org.eclipse.core.resources.textmarker"/>
      <persistent value="true"/>
      <attribute name="taskId"/>
   </extension>
   <extension
         id="bookmarkmarker"
         name="%BookmarkMarker.name"
         point="org.eclipse.core.resources.markers">
      <super type="org.eclipse.core.resources.bookmark"/>
      <super type="org.eclipse.core.resources.textmarker"/>
      <persistent value="true"/>
      <attribute name="bookmarkId"/>
   </extension>
   <extension
         id="occurrencemarker"
         name="%OccurrenceMarker.name"
         point="org.eclipse.core.resources.markers">
      <super type="org.eclipse.core.resources.textmarker"/>
      <persistent value="false"/>
      <attribute name="term"/>
   </extension>
   <extension
         id="termhighlightmarker"
         name="%TermHighlightMarker.name"
         point="org.eclipse.core.resources.markers">
      <super type="org.eclipse.core.resources.textmarker"/>
      <persistent value="false"/>
      <attribute name="term"/>
   </extension>
   <extension
         point="org.eclipse.ui.editors.annotationTypes">
      <type
            markerSeverity="2"
            markerType="net.sourceforge.czt.eclipse.ui.problemmarker"
            name="net.sourceforge.czt.eclipse.error"
            super="org.eclipse.ui.workbench.texteditor.error"/>
      <type
            markerSeverity="1"
            markerType="net.sourceforge.czt.eclipse.ui.problemmarker"
            name="net.sourceforge.czt.eclipse.warning"
            super="org.eclipse.ui.workbench.texteditor.warning"/>
      <type
            markerSeverity="0"
            markerType="net.sourceforge.czt.eclipse.ui.problemmarker"
            name="net.sourceforge.czt.eclipse.info"
            super="org.eclipse.ui.workbench.texteditor.info"/>
      <type
            markerType="net.sourceforge.czt.eclipse.ui.taskmarker"
            name="net.sourceforge.czt.eclipse.task"
            super="org.eclipse.ui.workbench.texteditor.task"/>
      <type
            markerType="net.sourceforge.czt.eclipse.ui.bookmarkmarker"
            name="net.sourceforge.czt.eclipse.bookmark"
            super="org.eclipse.ui.workbench.texteditor.bookmark"/>
      <type
            markerType="net.sourceforge.czt.eclipse.ui.occurrencemarker"
            name="net.sourceforge.czt.eclipse.occurrence"
            super="org.eclipse.jdt.ui.occurrences"/>
      <type
            markerType="net.sourceforge.czt.eclipse.ui.termhighlightmarker"
            name="net.sourceforge.czt.eclipse.termhighlight"/>
   </extension>
   <extension
         point="org.eclipse.ui.editors.markerAnnotationSpecification">
      <specification
            annotationType="net.sourceforge.czt.eclipse.termhighlight"
            colorPreferenceKey="termHighlightIndicationColor"
            colorPreferenceValue="255,248,147"
            contributesToHeader="false"
            highlightPreferenceKey="termHighlightHighlighting"
            highlightPreferenceValue="true"
            icon="icons/term_highlight.gif"
            includeOnPreferencePage="true"
            isGoToNextNavigationTarget="false"
            isGoToNextNavigationTargetKey="isTermHighlightGoToNextNavigationTarget"
            isGoToPreviousNavigationTarget="false"
            isGoToPreviousNavigationTargetKey="isTermHighlightGoToPreviousNavigationTarget"
            label="%TermHighlightAnnotation.label"
            overviewRulerPreferenceKey="termHighlightIndicationInOverviewRuller"
            overviewRulerPreferenceValue="false"
            presentationLayer="6"
            showInNextPrevDropdownToolbarAction="true"
            showInNextPrevDropdownToolbarActionKey="showTermHighlightInNextPrevDropdownToolbarAction"
            symbolicIcon="info"
            textPreferenceKey="termHighlightTextIndication"
            textPreferenceValue="false"
            textStylePreferenceKey="termHighlightTextStyle"
            textStylePreferenceValue="BOX"
            verticalRulerPreferenceKey="termHighlightIndicationInVerticalRuller"
            verticalRulerPreferenceValue="false"/>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <category
            description="%category.source.description"
            id="net.sourceforge.czt.eclipse.category.source"
            name="%category.source.name"/>
      <command
            categoryId="net.sourceforge.czt.eclipse.category.source"
            description="Go to the point where the current Z name is declared"
            id="net.sourceforge.czt.eclipse.editoraction.gotodeclaration"
            name="Go To Declaration"/>
      <command
            categoryId="net.sourceforge.czt.eclipse.category.source"
            description="Expand the current selection to the surrounding term"
            id="net.sourceforge.czt.eclipse.editoraction.expandselection"
            name="Grow Selected Term"/>
      <command
            categoryId="net.sourceforge.czt.eclipse.category.source"
            description="Return to the previously selected term"
            id="net.sourceforge.czt.eclipse.editoraction.contractselection"
            name="Shrink Selected Term"/>
      <command
            categoryId="net.sourceforge.czt.eclipse.category.source"
            description="Convert current specification to latex markup"
            id="net.sourceforge.czt.eclipse.editoraction.convert2latex"
            name="Convert To Latex"/>
      <command
            categoryId="net.sourceforge.czt.eclipse.category.source"
            description="Convert current specification to Spivey/Fuzz Z latex markup"
            id="net.sourceforge.czt.eclipse.editoraction.convert2oldlatex"
            name="Convert To Old Latex"/>
      <command
            categoryId="net.sourceforge.czt.eclipse.category.source"
            description="Convert current specification to unicode markup"
            id="net.sourceforge.czt.eclipse.editoraction.convert2unicode"
            name="Convert To Unicode"/>
      <command
            categoryId="net.sourceforge.czt.eclipse.category.source"
            description="Convert current specification to XML"
            id="net.sourceforge.czt.eclipse.editoraction.convert2xml"
            name="Convert To XML"/>
   </extension>
   <extension
         point="org.eclipse.ui.contexts">
      <context
            description="%context.EditingZSource.description"
            id="net.sourceforge.czt.eclipse.ZEditorScope"
            name="%context.EditingZSource.name"
            parentId="org.eclipse.ui.textEditorScope"/>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="net.sourceforge.czt.eclipse.editoraction.gotodeclaration"
            contextId="net.sourceforge.czt.eclipse.ZEditorScope"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="F3"/>
      <key
            commandId="net.sourceforge.czt.eclipse.editoraction.expandselection"
            contextId="net.sourceforge.czt.eclipse.ZEditorScope"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="Ctrl+Shift+Arrow_Up"/>
      <key
            commandId="net.sourceforge.czt.eclipse.editoraction.contractselection"
            contextId="net.sourceforge.czt.eclipse.ZEditorScope"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="Ctrl+Shift+Arrow_Down"/>
      <key
            commandId="net.sourceforge.czt.eclipse.editoraction.convert2latex"
            contextId="net.sourceforge.czt.eclipse.ZEditorScope"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="Ctrl+Shift+L"/>
      <key
            commandId="net.sourceforge.czt.eclipse.editoraction.convert2oldlatex"
            contextId="net.sourceforge.czt.eclipse.ZEditorScope"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="Ctrl+Shift+O"/>
      <key
            commandId="net.sourceforge.czt.eclipse.editoraction.convert2unicode"
            contextId="net.sourceforge.czt.eclipse.ZEditorScope"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="Ctrl+Shift+U"/>
      <key
            commandId="net.sourceforge.czt.eclipse.editoraction.convert2xml"
            contextId="net.sourceforge.czt.eclipse.ZEditorScope"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="Ctrl+Shift+X"/>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="net.sourceforge.czt.eclipse.ui.perspective.ZPerspectiveFactory"
            icon="icons/CZTproject.png"
            id="net.sourceforge.czt.eclipse.ui.ZPerspective"
            name="Z"/>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension targetID="org.eclipse.ui.resourcePerspective">
         <perspectiveShortcut id="net.sourceforge.czt.eclipse.ui.ZPerspective"/>
      </perspectiveExtension>
      <perspectiveExtension targetID="org.eclipse.jdt.ui.JavaPerspective">
         <perspectiveShortcut id="net.sourceforge.czt.eclipse.ui.ZPerspective"/>
      </perspectiveExtension>
      <perspectiveExtension targetID="org.eclipse.debug.ui.DebugPerspective">
         <perspectiveShortcut id="net.sourceforge.czt.eclipse.ui.ZPerspective"/>
      </perspectiveExtension>
      <perspectiveExtension targetID="org.eclipse.jdt.ui.JavaBrowsingPerspective">
         <perspectiveShortcut id="net.sourceforge.czt.eclipse.ui.ZPerspective"/>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="net.sourceforge.czt.eclipse.ui.preferences.CZTBasePreferencePage"
            id="net.sourceforge.czt.eclipse.preferences.CztBasePreferencePage"
            name="%CztBasePreferencePageName">
         <keywordReference id="net.sourceforge.czt.eclipse.ui.general"/>
      </page>
      <page
            category="net.sourceforge.czt.eclipse.preferences.CztBasePreferencePage"
            class="net.sourceforge.czt.eclipse.ui.preferences.CompilerPreferencePage"
            id="net.sourceforge.czt.eclipse.preferences.CompilerPreferencePage"
            name="%CompilerPreferencePageName">
         <keywordReference id="net.sourceforge.czt.eclipse.ui.compiler"/>
      </page> <page
            category="net.sourceforge.czt.eclipse.preferences.CztBasePreferencePage"
            class="net.sourceforge.czt.eclipse.ui.preferences.ZEditorBasePreferencePage"
            id="net.sourceforge.czt.eclipse.preferences.ZEditorPreferencePage"
            name="%ZEditorBasePreferencePageName">
                 <keywordReference id="net.sourceforge.czt.eclipse.ui.editor"/>
      </page>
      <page
            category="net.sourceforge.czt.eclipse.preferences.ZEditorPreferencePage"
            class="net.sourceforge.czt.eclipse.ui.preferences.ZEditorAnnotationPreferencePage"
            id="net.sourceforge.czt.eclipse.preferences.AppearancePreferencePage"
            name="%ZEditorAnnotationPreferencePageName">
         <keywordReference id="net.sourceforge.czt.eclipse.ui.annotation"/>
      </page>
     
      <page
            category="net.sourceforge.czt.eclipse.preferences.ZEditorPreferencePage"
            class="net.sourceforge.czt.eclipse.ui.preferences.ZEditorFoldingPreferencePage"
            id="net.sourceforge.czt.eclipse.preferences.ZEditorFoldingPreferencePage"
            name="%ZEditorFoldingPreferencePageName">
         <keywordReference id="net.sourceforge.czt.eclipse.ui.folding"/>
      </page>
      <page
            category="net.sourceforge.czt.eclipse.preferences.ZEditorPreferencePage"
            class="net.sourceforge.czt.eclipse.ui.preferences.ZEditorSyntaxColoringPreferencePage"
            id="net.sourceforge.czt.eclipse.preferences.ZEditorSyntaxColoringPreferencePage"
            name="%ZEditorSyntaxColoringPreferencePageName">
         <keywordReference id="net.sourceforge.czt.eclipse.ui.syntaxcoloring"/>
      </page>
   </extension>
   <extension
         point="org.eclipse.ui.keywords">
      <keyword
            id="net.sourceforge.czt.eclipse.ui.general"
            label="%PreferenceKeywords.general"/>
      <keyword
            id="net.sourceforge.czt.eclipse.ui.compiler"
            label="%PreferenceKeywords.compiler"/>
      <keyword
            id="net.sourceforge.czt.eclipse.ui.editor"
            label="%PreferenceKeywords.editor"/>
      <keyword
            id="net.sourceforge.czt.eclipse.ui.annotation"
            label="%PreferenceKeywords.annotation"/>
      <keyword
            id="net.sourceforge.czt.eclipse.ui.folding"
            label="%PreferenceKeywords.folding"/>
      <keyword
            id="net.sourceforge.czt.eclipse.ui.syntaxcoloring"
            label="%PreferenceKeywords.syntaxcoloring"/>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer class="net.sourceforge.czt.eclipse.ui.preferences.CZTPreferenceInitializer"/>
   </extension>
   <extension
         point="org.eclipse.ui.newWizards">
      <category
            id="net.sourceforge.czt.eclipse.newwizard"
            name="%NewWizardCategoryName"/>
      <wizard
            category="net.sourceforge.czt.eclipse.newwizard"
            class="net.sourceforge.czt.eclipse.ui.wizards.NewCZTProjectWizard"
            finalPerspective="net.sourceforge.czt.eclipse.ui.ZPerspective"
            icon="icons/CZTproject.png"
            id="net.sourceforge.czt.eclipse.wizards.NewCZTProjectWizard"
            name="%NewCZTProjectWizard.label"
            preferredPerspectives="net.sourceforge.czt.eclipse.ui.ZPerspective"
            project="true"/>
      <wizard
            category="net.sourceforge.czt.eclipse.newwizard"
            class="net.sourceforge.czt.eclipse.ui.wizards.NewZSpecificationWizard"
            finalPerspective="net.sourceforge.czt.eclipse.ui.ZPerspective"
            icon="icons/ZSpec.png"
            id="net.sourceforge.czt.eclipse.wizards.NewZSpecificationWizard"
            name="%NewZSpecificationWizard.label"
            preferredPerspectives="net.sourceforge.czt.eclipse.ui.ZPerspective"
            project="false"/>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:org.eclipse.ui.main.menu?after=additions">
         <menu
               id="CZTMenu1"
               label="CZT"
               tooltip="CZT commands">
            <command
                  commandId="net.sourceforge.czt.eclipse.editoraction.gotodeclaration"
                  id="GotoDeclaration"
                  style="push"
                  tooltip="Go to the declaration of the current name">
            </command>
            <command
                  commandId="net.sourceforge.czt.eclipse.editoraction.expandselection"
                  id="ExpandSelection"
                  style="push">
            </command>
            <command
                  commandId="net.sourceforge.czt.eclipse.editoraction.contractselection"
                  id="ContractSelection"
                  style="push">
            </command>
            <menu
                  id="ConvertTo"
                  label="Convert To...">
               <command
                     commandId="net.sourceforge.czt.eclipse.editoraction.convert2latex"
                     id="Convert2Latex"
                     style="push"
                     tooltip="Convert to LaTeX markup">
               </command>
               <command
                     commandId="net.sourceforge.czt.eclipse.editoraction.convert2oldlatex"
                     id="Convert2OldLatex"
                     style="push"
                     tooltip="Convert to pre-standard (Spivey/FUZZ) Z">
               </command>
               <command
                     commandId="net.sourceforge.czt.eclipse.editoraction.convert2unicode"
                     id="Convert2Unicode"
                     style="push"
                     tooltip="Convert to Unicode markup">
               </command>
               <command
                     commandId="net.sourceforge.czt.eclipse.editoraction.convert2xml"
                     id="Convert2XML"
                     style="push"
                     tooltip="Convert to the CZT XML markup (ZML)">
               </command>
            </menu>
         </menu>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.themes">
      <themeElementCategory
            id="net.sourceforge.czt.eclipse.preferences.theme"
            label="CZT">
         <description>
            CZT fonts and colors
         </description>
      </themeElementCategory>
      <fontDefinition
            categoryId="net.sourceforge.czt.eclipse.preferences.theme"
            id="net.sourceforge.czt.eclipse.editor.font.unicode"
            isEditable="true"
            label="Unicode Z Editor Font"
            value="CZT-regular-12">
         <description>
            The Unicode Z editor text font is used by Z editors when editing Unicode Z specifications.
         </description>
      </fontDefinition>
      <fontDefinition
            categoryId="net.sourceforge.czt.eclipse.preferences.theme"
            defaultsTo="org.eclipse.jface.textfont"
            id="net.sourceforge.czt.eclipse.editor.font.latex"
            isEditable="true"
            label="LaTeX Z Editor Font">
         <description>
            The LaTeX Z editor text font is used by Z editors when editing LaTeX Z specifications.
         </description>
      </fontDefinition>
   </extension>
   <extension
         point="org.eclipse.core.expressions.definitions">
      <definition
            id="net.sourceforge.czt.eclipse.ui.inZPerspective">
         <with
               variable="activeWorkbenchWindow.activePerspective">
            <equals
                  value="net.sourceforge.czt.eclipse.ui.ZPerspective">
            </equals>
         </with>
      </definition>
      <definition
            id="net.sourceforge.czt.eclipse.ui.inZEditor">
         <with
               variable="activePartId">
            <equals
                  value="net.sourceforge.czt.eclipse.editors.zeditor.ZEditor">
            </equals>
         </with>
      </definition>
   </extension>
   <extension
         point="org.eclipse.ui.navigator.navigatorContent">
      <commonWizard
            type="new"
            wizardId="net.sourceforge.czt.eclipse.wizards.NewCZTProjectWizard">
         <enablement>
            <reference
                  definitionId="net.sourceforge.czt.eclipse.ui.inZPerspective">
            </reference></enablement>
      </commonWizard>
      <commonWizard
            type="new"
            wizardId="net.sourceforge.czt.eclipse.wizards.NewZSpecificationWizard">
         <enablement>
            <reference
                  definitionId="net.sourceforge.czt.eclipse.ui.inZPerspective">
            </reference></enablement>
      </commonWizard>
   </extension>

</plugin>
