<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.commands">
      <category
            id="net.sourceforge.czt.eclipse.zeves.ui.category.prover"
            name="CZT - Z/EVES">
      </category>
      <command
            categoryId="net.sourceforge.czt.eclipse.zeves.ui.category.prover"
            id="net.sourceforge.czt.eclipse.zeves.ui.prover.submitToPoint"
            name="Move Prover To Selection">
      </command>
      <command
            categoryId="net.sourceforge.czt.eclipse.zeves.ui.category.prover"
            id="net.sourceforge.czt.eclipse.zeves.ui.prover.submitBack"
            name="Undo Command">
      </command>
      <command
            categoryId="net.sourceforge.czt.eclipse.zeves.ui.category.prover"
            id="net.sourceforge.czt.eclipse.zeves.ui.prover.submitNext"
            name="Submit Next Command">
      </command>
      <command
            id="net.sourceforge.czt.eclipse.zeves.ui.proof.reduce"
            name="Reduction">
      </command>
      <command
            id="net.sourceforge.czt.eclipse.zeves.ui.proof.cases"
            name="Cases">
      </command>
      <command
            id="net.sourceforge.czt.eclipse.zeves.ui.proof.quant"
            name="Quantifiers">
      </command>
      <command
            id="net.sourceforge.czt.eclipse.zeves.ui.proof.normal"
            name="Normal Forms">
      </command>
      <command
            id="net.sourceforge.czt.eclipse.zeves.ui.proof.eq"
            name="Equality">
      </command>
      <command
            defaultHandler="net.sourceforge.czt.eclipse.zeves.ui.actions.SendSimpleProofCommand"
            id="net.sourceforge.czt.eclipse.zeves.ui.proof.simpleCmd"
            name="Simple Proof Command">
         <commandParameter
               id="net.sourceforge.czt.eclipse.zeves.ui.proof.cmdName"
               name="Name"
               optional="false">
         </commandParameter>
      </command>
      <command
            defaultHandler="net.sourceforge.czt.eclipse.zeves.ui.actions.SendSelectionProofCommand"
            id="net.sourceforge.czt.eclipse.zeves.ui.proof.selectionCmd"
            name="Selection Proof Command">
         <commandParameter
               id="net.sourceforge.czt.eclipse.zeves.ui.proof.cmdName"
               name="Name"
               optional="false">
         </commandParameter>
      </command>
      <command
            defaultHandler="net.sourceforge.czt.eclipse.zeves.ui.actions.SendExprProofCommand"
            id="net.sourceforge.czt.eclipse.zeves.ui.proof.exprCmd"
            name="Expr Proof Command">
         <commandParameter
               id="net.sourceforge.czt.eclipse.zeves.ui.proof.cmdName"
               name="Name"
               optional="false">
         </commandParameter>
      </command>
      <command
            defaultHandler="net.sourceforge.czt.eclipse.zeves.ui.actions.SendPredProofCommand"
            id="net.sourceforge.czt.eclipse.zeves.ui.proof.predCmd"
            name="Pred Proof Command">
         <commandParameter
               id="net.sourceforge.czt.eclipse.zeves.ui.proof.cmdName"
               name="Name"
               optional="false">
         </commandParameter>
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="toolbar:org.eclipse.ui.main.toolbar">
         <toolbar
               id="net.sourceforge.czt.eclipse.zeves.ui.toolbar.prover">
            <command
                  commandId="net.sourceforge.czt.eclipse.zeves.ui.prover.submitBack"
                  icon="icons/submit_back.png"
                  style="push">
            </command>
            <command
                  commandId="net.sourceforge.czt.eclipse.zeves.ui.prover.submitNext"
                  icon="icons/submit_next.png"
                  style="push">
            </command>
            <command
                  commandId="net.sourceforge.czt.eclipse.zeves.ui.prover.submitToPoint"
                  icon="icons/submit_point.png"
                  style="push">
            </command>
         </toolbar>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="toolbar:net.sourceforge.czt.eclipse.zeves.ui.views.Output?before=info-view">
         <command
               commandId="net.sourceforge.czt.eclipse.zeves.ui.proof.reduce"
               label="Reduction"
               mode="FORCE_TEXT"
               style="pulldown">
         </command>
         <command
               commandId="net.sourceforge.czt.eclipse.zeves.ui.proof.cases"
               label="Cases"
               mode="FORCE_TEXT"
               style="pulldown">
         </command>
         <command
               commandId="net.sourceforge.czt.eclipse.zeves.ui.proof.quant"
               label="Quantifiers"
               mode="FORCE_TEXT"
               style="pulldown">
         </command>
         <command
               commandId="net.sourceforge.czt.eclipse.zeves.ui.proof.normal"
               label="Normal Forms"
               mode="FORCE_TEXT"
               style="pulldown">
         </command>
         <command
               commandId="net.sourceforge.czt.eclipse.zeves.ui.proof.eq"
               label="Equality"
               mode="FORCE_TEXT"
               style="pulldown">
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="menu:net.sourceforge.czt.eclipse.zeves.ui.proof.reduce">
         <command
               commandId="net.sourceforge.czt.eclipse.zeves.ui.proof.simpleCmd"
               label="Prove"
               style="push">
            <parameter
                  name="net.sourceforge.czt.eclipse.zeves.ui.proof.cmdName"
                  value="prove">
            </parameter>
         </command>
         <command
               commandId="net.sourceforge.czt.eclipse.zeves.ui.proof.simpleCmd"
               label="Prove by Reduce"
               style="push">
            <parameter
                  name="net.sourceforge.czt.eclipse.zeves.ui.proof.cmdName"
                  value="prove by reduce">
            </parameter>
         </command>
         <separator
               name="s1"
               visible="true">
         </separator>
         <command
               commandId="net.sourceforge.czt.eclipse.zeves.ui.proof.simpleCmd"
               label="Reduce"
               style="push">
            <parameter
                  name="net.sourceforge.czt.eclipse.zeves.ui.proof.cmdName"
                  value="reduce">
            </parameter>
         </command>
         <command
               commandId="net.sourceforge.czt.eclipse.zeves.ui.proof.simpleCmd"
               label="Rewrite"
               style="push">
            <parameter
                  name="net.sourceforge.czt.eclipse.zeves.ui.proof.cmdName"
                  value="rewrite">
            </parameter>
         </command>
         <command
               commandId="net.sourceforge.czt.eclipse.zeves.ui.proof.simpleCmd"
               label="Simplify"
               style="push">
            <parameter
                  name="net.sourceforge.czt.eclipse.zeves.ui.proof.cmdName"
                  value="simplify">
            </parameter>
         </command>
         <separator
               name="s2"
               visible="true">
         </separator>
         <command
               commandId="net.sourceforge.czt.eclipse.zeves.ui.proof.simpleCmd"
               label="Invoke"
               style="push">
            <parameter
                  name="net.sourceforge.czt.eclipse.zeves.ui.proof.cmdName"
                  value="invoke">
            </parameter>
         </command>
         <command
               commandId="net.sourceforge.czt.eclipse.zeves.ui.proof.simpleCmd"
               label="Trivial Rewrite"
               style="push">
            <parameter
                  name="net.sourceforge.czt.eclipse.zeves.ui.proof.cmdName"
                  value="trivial rewrite">
            </parameter>
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="menu:net.sourceforge.czt.eclipse.zeves.ui.proof.cases">
         <command
               commandId="net.sourceforge.czt.eclipse.zeves.ui.proof.simpleCmd"
               label="Cases"
               style="push">
            <parameter
                  name="net.sourceforge.czt.eclipse.zeves.ui.proof.cmdName"
                  value="cases">
            </parameter>
         </command>
         <command
               commandId="net.sourceforge.czt.eclipse.zeves.ui.proof.simpleCmd"
               label="Next"
               style="push">
            <parameter
                  name="net.sourceforge.czt.eclipse.zeves.ui.proof.cmdName"
                  value="next">
            </parameter>
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="menu:net.sourceforge.czt.eclipse.zeves.ui.proof.quant">
         <command
               commandId="net.sourceforge.czt.eclipse.zeves.ui.proof.simpleCmd"
               label="Prenex"
               style="push">
            <parameter
                  name="net.sourceforge.czt.eclipse.zeves.ui.proof.cmdName"
                  value="cases">
            </parameter>
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="menu:net.sourceforge.czt.eclipse.zeves.ui.proof.normal">
         <command
               commandId="net.sourceforge.czt.eclipse.zeves.ui.proof.simpleCmd"
               label="With Normalization Reduce"
               style="push">
            <parameter
                  name="net.sourceforge.czt.eclipse.zeves.ui.proof.cmdName"
                  value="with normalization reduce">
            </parameter>
         </command>
         <command
               commandId="net.sourceforge.czt.eclipse.zeves.ui.proof.simpleCmd"
               label="With Normalization Rewrite"
               style="push">
            <parameter
                  name="net.sourceforge.czt.eclipse.zeves.ui.proof.cmdName"
                  value="with normalization rewrite">
            </parameter>
         </command>
         <command
               commandId="net.sourceforge.czt.eclipse.zeves.ui.proof.simpleCmd"
               label="With Normalization Simplify"
               style="push">
            <parameter
                  name="net.sourceforge.czt.eclipse.zeves.ui.proof.cmdName"
                  value="with normalization simplify">
            </parameter>
         </command>
         <separator
               name="s1"
               visible="true">
         </separator>
         <command
               commandId="net.sourceforge.czt.eclipse.zeves.ui.proof.simpleCmd"
               label="Conjunctive Normal Form"
               style="push">
            <parameter
                  name="net.sourceforge.czt.eclipse.zeves.ui.proof.cmdName"
                  value="conjunctive">
            </parameter>
         </command>
         <command
               commandId="net.sourceforge.czt.eclipse.zeves.ui.proof.simpleCmd"
               label="Disjunctive Normal Form"
               style="push">
            <parameter
                  name="net.sourceforge.czt.eclipse.zeves.ui.proof.cmdName"
                  value="disjunctive">
            </parameter>
         </command>
         <separator
               name="s2"
               visible="true">
         </separator>
         <command
               commandId="net.sourceforge.czt.eclipse.zeves.ui.proof.simpleCmd"
               label="Rearrange"
               style="push">
            <parameter
                  name="net.sourceforge.czt.eclipse.zeves.ui.proof.cmdName"
                  value="rearrange">
            </parameter>
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="menu:net.sourceforge.czt.eclipse.zeves.ui.proof.eq">
         <command
               commandId="net.sourceforge.czt.eclipse.zeves.ui.proof.simpleCmd"
               label="Equality Substitute"
               style="push">
            <parameter
                  name="net.sourceforge.czt.eclipse.zeves.ui.proof.cmdName"
                  value="equality substitute">
            </parameter>
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="popup:net.sourceforge.czt.eclipse.zeves.ui.views.Output?after=selectionCmds">
         <command
               commandId="net.sourceforge.czt.eclipse.zeves.ui.proof.selectionCmd"
               label="Expand This Name"
               style="push">
            <parameter
                  name="net.sourceforge.czt.eclipse.zeves.ui.proof.cmdName"
                  value="invoke %s">
            </parameter>
            <visibleWhen
                  checkEnabled="false">
               <reference
                     definitionId="net.sourceforge.czt.eclipse.zeves.ui.proof.inTermContext">
               </reference>
            </visibleWhen>
         </command>
         <command
               commandId="net.sourceforge.czt.eclipse.zeves.ui.proof.predCmd"
               label="Split On This Predicate"
               style="push">
            <parameter
                  name="net.sourceforge.czt.eclipse.zeves.ui.proof.cmdName"
                  value="split %s">
            </parameter>
            <visibleWhen
                  checkEnabled="false">
               <reference
                     definitionId="net.sourceforge.czt.eclipse.zeves.ui.proof.inPredContext">
               </reference>
            </visibleWhen>
         </command>
         <command
               commandId="net.sourceforge.czt.eclipse.zeves.ui.proof.predCmd"
               label="Reduce This Predicate"
               style="push">
            <parameter
                  name="net.sourceforge.czt.eclipse.zeves.ui.proof.cmdName"
                  value="with predicate (%s) reduce">
            </parameter>
            <visibleWhen
                  checkEnabled="false">
               <reference
                     definitionId="net.sourceforge.czt.eclipse.zeves.ui.proof.inPredContext">
               </reference>
            </visibleWhen>
         </command>
         <command
               commandId="net.sourceforge.czt.eclipse.zeves.ui.proof.predCmd"
               label="Rewrite This Predicate"
               style="push">
            <parameter
                  name="net.sourceforge.czt.eclipse.zeves.ui.proof.cmdName"
                  value="with predicate (%s) rewrite">
            </parameter>
            <visibleWhen
                  checkEnabled="false">
               <reference
                     definitionId="net.sourceforge.czt.eclipse.zeves.ui.proof.inPredContext">
               </reference>
            </visibleWhen>
         </command>
         <command
               commandId="net.sourceforge.czt.eclipse.zeves.ui.proof.predCmd"
               label="Simplify This Predicate"
               style="push">
            <parameter
                  name="net.sourceforge.czt.eclipse.zeves.ui.proof.cmdName"
                  value="with predicate (%s) simplify">
            </parameter>
            <visibleWhen
                  checkEnabled="false">
               <reference
                     definitionId="net.sourceforge.czt.eclipse.zeves.ui.proof.inPredContext">
               </reference>
            </visibleWhen>
         </command>
         <command
               commandId="net.sourceforge.czt.eclipse.zeves.ui.proof.exprCmd"
               label="Reduce This Subexpression"
               style="push">
            <parameter
                  name="net.sourceforge.czt.eclipse.zeves.ui.proof.cmdName"
                  value="with expression (%s) reduce">
            </parameter>
            <visibleWhen
                  checkEnabled="false">
               <reference
                     definitionId="net.sourceforge.czt.eclipse.zeves.ui.proof.inExprContext">
               </reference>
            </visibleWhen>
         </command>
         <command
               commandId="net.sourceforge.czt.eclipse.zeves.ui.proof.exprCmd"
               label="Rewrite This Subexpression"
               style="push">
            <parameter
                  name="net.sourceforge.czt.eclipse.zeves.ui.proof.cmdName"
                  value="with expression (%s) rewrite">
            </parameter>
            <visibleWhen
                  checkEnabled="false">
               <reference
                     definitionId="net.sourceforge.czt.eclipse.zeves.ui.proof.inExprContext">
               </reference>
            </visibleWhen>
         </command>
         <command
               commandId="net.sourceforge.czt.eclipse.zeves.ui.proof.exprCmd"
               label="Simplify This Subexpression"
               style="push">
            <parameter
                  name="net.sourceforge.czt.eclipse.zeves.ui.proof.cmdName"
                  value="with expression (%s) simplify">
            </parameter>
            <visibleWhen
                  checkEnabled="false">
               <reference
                     definitionId="net.sourceforge.czt.eclipse.zeves.ui.proof.inExprContext">
               </reference>
            </visibleWhen>
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="net.sourceforge.czt.eclipse.zeves.ui.actions.SubmitToPointCommand"
            commandId="net.sourceforge.czt.eclipse.zeves.ui.prover.submitToPoint">
         <activeWhen>
            <reference
                  definitionId="net.sourceforge.czt.eclipse.ui.inZEditor">
            </reference>
         </activeWhen>
      </handler>
      <handler
            class="net.sourceforge.czt.eclipse.zeves.ui.actions.EditorBackCommand"
            commandId="net.sourceforge.czt.eclipse.zeves.ui.prover.submitBack">
         <activeWhen>
            <reference
                  definitionId="net.sourceforge.czt.eclipse.ui.inZEditor">
            </reference>
         </activeWhen>
      </handler>
      <handler
            class="net.sourceforge.czt.eclipse.zeves.ui.actions.EditorSubmitNextCommand"
            commandId="net.sourceforge.czt.eclipse.zeves.ui.prover.submitNext">
         <activeWhen>
            <reference
                  definitionId="net.sourceforge.czt.eclipse.ui.inZEditor">
            </reference>
         </activeWhen>
      </handler>
      <handler
            class="net.sourceforge.czt.eclipse.zeves.ui.actions.OutputViewBackCommand"
            commandId="net.sourceforge.czt.eclipse.zeves.ui.prover.submitBack">
         <activeWhen>
            <reference
                  definitionId="net.sourceforge.czt.eclipse.zeves.ui.inOutputView">
            </reference>
         </activeWhen>
      </handler>
      <handler
            class="net.sourceforge.czt.eclipse.zeves.ui.actions.OutputViewSubmitNextCommand"
            commandId="net.sourceforge.czt.eclipse.zeves.ui.prover.submitNext">
         <activeWhen>
            <reference
                  definitionId="net.sourceforge.czt.eclipse.zeves.ui.inOutputView">
            </reference>
         </activeWhen>
      </handler>
   </extension>
   <extension
         point="org.eclipse.debug.core.launchConfigurationTypes">
      <launchConfigurationType
            category="org.eclipse.ui.externaltools"
            delegate="net.sourceforge.czt.eclipse.zeves.ui.launch.ZEvesAppLaunch"
            id="net.sourceforge.czt.eclipse.zeves.ui.launch.app"
            modes="run"
            name="Z/EVES">
      </launchConfigurationType>
      <launchConfigurationType
            category="org.eclipse.ui.externaltools"
            delegate="net.sourceforge.czt.eclipse.zeves.ui.launch.ZEvesAppLaunch"
            id="net.sourceforge.czt.eclipse.zeves.ui.launch.remote"
            modes="run"
            name="Z/EVES Remote">
      </launchConfigurationType>
   </extension>
   <extension
         point="org.eclipse.debug.ui.launchConfigurationTypeImages">
      <launchConfigurationTypeImage
            configTypeID="net.sourceforge.czt.eclipse.zeves.ui.launch.app"
            icon="icons/z-eves.png"
            id="net.sourceforge.czt.eclipse.zeves.ui.launch.app">
      </launchConfigurationTypeImage>
      <launchConfigurationTypeImage
            configTypeID="net.sourceforge.czt.eclipse.zeves.ui.launch.remote"
            icon="icons/z-eves.png"
            id="net.sourceforge.czt.eclipse.zeves.ui.launch.remote">
      </launchConfigurationTypeImage>
   </extension>
   <extension
         point="org.eclipse.debug.ui.launchConfigurationTabGroups">
      <launchConfigurationTabGroup
            class="net.sourceforge.czt.eclipse.zeves.ui.launch.ZEvesAppLaunchTabGroup"
            description="Run Z/EVES theorem prover"
            id="net.sourceforge.czt.eclipse.zeves.ui.launch.app"
            type="net.sourceforge.czt.eclipse.zeves.ui.launch.app">
      </launchConfigurationTabGroup>
      <launchConfigurationTabGroup
            class="net.sourceforge.czt.eclipse.zeves.ui.launch.ZEvesAppLaunchTabGroup"
            description="Connect to a Z/EVES theorem prover server"
            id="net.sourceforge.czt.eclipse.zeves.ui.launch.remote"
            type="net.sourceforge.czt.eclipse.zeves.ui.launch.remote">
      </launchConfigurationTabGroup>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            allowMultiple="true"
            category="net.sourceforge.czt.eclipse.zeves.ui.category.views"
            class="net.sourceforge.czt.eclipse.zeves.ui.views.ZEvesStateView"
            icon="icons/z-eves.png"
            id="net.sourceforge.czt.eclipse.zeves.ui.views.ZEvesState"
            name="Z/EVES"
            restorable="true">
      </view>
      <category
            id="net.sourceforge.czt.eclipse.zeves.ui.category.views"
            name="Z/EVES">
      </category>
      <view
            allowMultiple="true"
            category="net.sourceforge.czt.eclipse.zeves.ui.category.views"
            class="net.sourceforge.czt.eclipse.zeves.ui.views.ZEvesTheoremView"
            icon="icons/z-eves.png"
            id="net.sourceforge.czt.eclipse.zeves.ui.views.Theorems"
            name="Theorems"
            restorable="true">
      </view>
      <view
            allowMultiple="true"
            category="net.sourceforge.czt.eclipse.zeves.ui.category.views"
            class="net.sourceforge.czt.eclipse.zeves.ui.views.ZEvesOutputView"
            icon="icons/z-eves.png"
            id="net.sourceforge.czt.eclipse.zeves.ui.views.Output"
            name="Z/EVES Output"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="net.sourceforge.czt.eclipse.zeves.ui.perspective.ZEvesPerspectiveFactory"
            icon="icons/z-eves.png"
            id="net.sourceforge.czt.eclipse.zeves.ui.ZEvesPerspective"
            name="Z/EVES">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="net.sourceforge.czt.eclipse.ui.ZPerspective">
         <perspectiveShortcut
               id="net.sourceforge.czt.eclipse.zeves.ui.ZEvesPerspective">
         </perspectiveShortcut>
      </perspectiveExtension>
   </extension>
   <extension
         id="errorMarker"
         name="Z/EVES Error"
         point="org.eclipse.core.resources.markers">
      <super
            type="org.eclipse.core.resources.problemmarker">
      </super>
      <super
            type="org.eclipse.core.resources.textmarker">
      </super>
   </extension>
   <extension
         id="resultMarker"
         name="Z/EVES Result"
         point="org.eclipse.core.resources.markers">
      <super
            type="org.eclipse.core.resources.textmarker">
      </super>
   </extension>
   <extension
         id="resultTrueMarker"
         name="Z/EVES Result: True"
         point="org.eclipse.core.resources.markers">
      <super
            type="net.sourceforge.czt.eclipse.zeves.ui.resultMarker">
      </super>
   </extension>
   <extension
         id="commandStatusMarker"
         name="Z/EVES Command Status"
         point="org.eclipse.core.resources.markers">
      <super
            type="org.eclipse.core.resources.textmarker">
      </super>
   </extension>
   <extension
         id="processMarker"
         name="Z/EVES Process Status"
         point="org.eclipse.core.resources.markers">
      <super
            type="org.eclipse.core.resources.textmarker">
      </super>
   </extension>
   <extension
         id="outputSelectionMarker"
         name="Z/EVES Output View Item"
         point="org.eclipse.core.resources.markers">
      <super
            type="org.eclipse.core.resources.textmarker">
      </super>
   </extension>
   <extension
         point="org.eclipse.ui.editors.annotationTypes">
      <type
            markerSeverity="0"
            markerType="net.sourceforge.czt.eclipse.zeves.ui.resultMarker"
            name="net.sourceforge.czt.eclipse.zeves.ui.annotation.result">
      </type>
      <type
            markerSeverity="0"
            markerType="net.sourceforge.czt.eclipse.zeves.ui.resultTrueMarker"
            name="net.sourceforge.czt.eclipse.zeves.ui.annotation.resultTrue"
            super="net.sourceforge.czt.eclipse.zeves.ui.annotation.result">
      </type>
      <type
            markerSeverity="0"
            markerType="net.sourceforge.czt.eclipse.zeves.ui.commandStatusMarker"
            name="net.sourceforge.czt.eclipse.zeves.ui.annotation.command.finished">
      </type>
      <type
            markerSeverity="1"
            markerType="net.sourceforge.czt.eclipse.zeves.ui.commandStatusMarker"
            name="net.sourceforge.czt.eclipse.zeves.ui.annotation.command.unfinished">
      </type>
      <type
            markerSeverity="2"
            markerType="net.sourceforge.czt.eclipse.zeves.ui.commandStatusMarker"
            name="net.sourceforge.czt.eclipse.zeves.ui.annotation.command.failed">
      </type>
      <type
            markerType="net.sourceforge.czt.eclipse.zeves.ui.processMarker"
            name="net.sourceforge.czt.eclipse.zeves.ui.annotation.command.unprocessed">
      </type>
      <type
            markerType="net.sourceforge.czt.eclipse.zeves.ui.outputSelectionMarker"
            name="net.sourceforge.czt.eclipse.zeves.ui.annotation.outputSelection">
      </type>
      <type
            name="net.sourceforge.czt.eclipse.zeves.ui.annotation.output.error">
      </type>
      <type
            name="net.sourceforge.czt.eclipse.zeves.ui.annotation.output.warning">
      </type>
   </extension>
   <extension
         point="org.eclipse.ui.editors.markerAnnotationSpecification">
      <specification
            annotationType="net.sourceforge.czt.eclipse.zeves.ui.annotation.command.unfinished"
            colorPreferenceKey="commandUnfinishedColor"
            colorPreferenceValue="255,228,255"
            highlightPreferenceKey="commandUnfinishedHighlighting"
            highlightPreferenceValue="true"
            includeOnPreferencePage="true"
            label="Z/EVES Unfinished Command"
            overviewRulerPreferenceKey="commandUnfinishedInOverviewRuler"
            overviewRulerPreferenceValue="true"
            presentationLayer="0"
            textPreferenceKey="commandUnfinishedIndication"
            textPreferenceValue="false"
            textStylePreferenceKey="commandUnfinishedTextStyle"
            textStylePreferenceValue="NONE"
            verticalRulerPreferenceKey="commandUnfinishedInVerticalRuler"
            verticalRulerPreferenceValue="false">
      </specification>
      <specification
            annotationType="net.sourceforge.czt.eclipse.zeves.ui.annotation.command.unprocessed"
            colorPreferenceKey="commandUnprocessedColor"
            colorPreferenceValue="255,228,225"
            highlightPreferenceKey="commandUnprocessedHighlighting"
            highlightPreferenceValue="true"
            includeOnPreferencePage="true"
            label="Z/EVES Unprocessed Command"
            overviewRulerPreferenceKey="commandUnprocessedInOverviewRuler"
            overviewRulerPreferenceValue="true"
            presentationLayer="0"
            textPreferenceKey="commandUnprocessedIndication"
            textPreferenceValue="false"
            textStylePreferenceKey="commandUnprocessedTextStyle"
            textStylePreferenceValue="NONE"
            verticalRulerPreferenceKey="commandUnprocessedInVerticalRuler"
            verticalRulerPreferenceValue="false">
      </specification>
      <specification
            annotationType="net.sourceforge.czt.eclipse.zeves.ui.annotation.command.failed"
            colorPreferenceKey="commandFailedColor"
            colorPreferenceValue="255,204,204"
            highlightPreferenceKey="commandFailedHighlighting"
            highlightPreferenceValue="true"
            includeOnPreferencePage="true"
            label="Z/EVES Failed Command"
            overviewRulerPreferenceKey="commandFailedInOverviewRuler"
            overviewRulerPreferenceValue="true"
            presentationLayer="1"
            textPreferenceKey="commandFailedIndication"
            textPreferenceValue="false"
            textStylePreferenceKey="commandFailedTextStyle"
            textStylePreferenceValue="NONE"
            verticalRulerPreferenceKey="commandFailedInVerticalRuler"
            verticalRulerPreferenceValue="false">
      </specification>
      <specification
            annotationType="net.sourceforge.czt.eclipse.zeves.ui.annotation.command.finished"
            colorPreferenceKey="commandFinishedColor"
            colorPreferenceValue="239,247,248"
            highlightPreferenceKey="commandFinishedHighlighting"
            highlightPreferenceValue="true"
            includeOnPreferencePage="true"
            label="Z/EVES Finished Command"
            overviewRulerPreferenceKey="commandFinishedInOverviewRuler"
            overviewRulerPreferenceValue="true"
            presentationLayer="0"
            textPreferenceKey="commandFinishedIndication"
            textPreferenceValue="false"
            textStylePreferenceKey="commandFinishedTextStyle"
            textStylePreferenceValue="NONE"
            verticalRulerPreferenceKey="commandFinishedInVerticalRuler"
            verticalRulerPreferenceValue="false">
      </specification>
      <specification
            annotationType="net.sourceforge.czt.eclipse.zeves.ui.annotation.result"
            icon="icons/proof_marker.png"
            colorPreferenceKey="proofResultColor"
            colorPreferenceValue="152,128,239"
            highlightPreferenceKey="proofResultHighlighting"
            highlightPreferenceValue="false"
            includeOnPreferencePage="true"
            label="Z/EVES Proof Result"
            overviewRulerPreferenceKey="proofResultInOverviewRuler"
            overviewRulerPreferenceValue="true"
            presentationLayer="2"
            textPreferenceKey="proofResultIndication"
            textPreferenceValue="true"
            textStylePreferenceKey="proofResultTextStyle"
            textStylePreferenceValue="SQUIGGLES"
            verticalRulerPreferenceKey="proofResultInVerticalRuler"
            verticalRulerPreferenceValue="true">
      </specification>
      <specification
            annotationType="net.sourceforge.czt.eclipse.zeves.ui.annotation.resultTrue"
            icon="icons/thm_proved.gif"
            colorPreferenceKey="proofResultTrueColor"
            colorPreferenceValue="152,128,239"
            highlightPreferenceKey="proofResultTrueHighlighting"
            highlightPreferenceValue="false"
            includeOnPreferencePage="true"
            label="Z/EVES Proof Result: True"
            overviewRulerPreferenceKey="proofResultTrueInOverviewRuler"
            overviewRulerPreferenceValue="true"
            presentationLayer="2"
            textPreferenceKey="proofResultTrueIndication"
            textPreferenceValue="true"
            textStylePreferenceKey="proofResultTrueTextStyle"
            textStylePreferenceValue="SQUIGGLES"
            verticalRulerPreferenceKey="proofResultTrueInVerticalRuler"
            verticalRulerPreferenceValue="true">
      </specification>
      <specification
            annotationType="net.sourceforge.czt.eclipse.zeves.ui.annotation.outputSelection"
            colorPreferenceKey="outputSelectionColor"
            colorPreferenceValue="227,202,252"
            highlightPreferenceKey="outputSelectionHighlighting"
            highlightPreferenceValue="true"
            icon="icons/output_selection.gif"
            includeOnPreferencePage="true"
            label="Z/EVES Output View Item"
            overviewRulerPreferenceKey="outputSelectionInOverviewRuler"
            overviewRulerPreferenceValue="true"
            presentationLayer="7"
            textPreferenceKey="outputSelectionIndication"
            textPreferenceValue="false"
            textStylePreferenceKey="outputSelectionTextStyle"
            textStylePreferenceValue="NONE"
            verticalRulerPreferenceKey="outputSelectionInVerticalRuler"
            verticalRulerPreferenceValue="true">
      </specification>
      <specification
            annotationType="net.sourceforge.czt.eclipse.zeves.ui.annotation.output.error"
            colorPreferenceKey="outputErrorColor"
            colorPreferenceValue="255,204,204"
            highlightPreferenceKey="outputErrorHighlighting"
            highlightPreferenceValue="true"
            includeOnPreferencePage="true"
            label="Z/EVES Output View Error Message"
            overviewRulerPreferenceKey="outputErrorInOverviewRuler"
            overviewRulerPreferenceValue="true"
            presentationLayer="1"
            textPreferenceKey="outputErrorIndication"
            textPreferenceValue="false"
            textStylePreferenceKey="outputErrorTextStyle"
            textStylePreferenceValue="NONE"
            verticalRulerPreferenceKey="outputErrorInVerticalRuler"
            verticalRulerPreferenceValue="false">
      </specification>
      <specification
            annotationType="net.sourceforge.czt.eclipse.zeves.ui.annotation.output.warning"
            colorPreferenceKey="outputWarningColor"
            colorPreferenceValue="248,229,122"
            highlightPreferenceKey="outputWarningHighlighting"
            highlightPreferenceValue="true"
            includeOnPreferencePage="true"
            label="Z/EVES Output View Warning Message"
            overviewRulerPreferenceKey="outputWarningInOverviewRuler"
            overviewRulerPreferenceValue="true"
            presentationLayer="1"
            textPreferenceKey="outputWarningIndication"
            textPreferenceValue="false"
            textStylePreferenceKey="outputWarningTextStyle"
            textStylePreferenceValue="NONE"
            verticalRulerPreferenceKey="outputWarningInVerticalRuler"
            verticalRulerPreferenceValue="false">
      </specification>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="net.sourceforge.czt.eclipse.zeves.ui.prover.submitToPoint"
            contextId="net.sourceforge.czt.eclipse.ui.context.ZEditor"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="Shift+M1+Enter">
      </key>
      <key
            commandId="net.sourceforge.czt.eclipse.zeves.ui.prover.submitBack"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="Shift+M1+ARROW_UP">
      </key>
      <key
            commandId="net.sourceforge.czt.eclipse.zeves.ui.prover.submitNext"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="Shift+M1+ARROW_DOWN">
      </key>
   </extension>
   <extension
         point="org.eclipse.ui.contexts">
      <context
            id="net.sourceforge.czt.eclipse.zeves.ui.proof.term"
            name="Proof Term Selected">
      </context>
      <context
            id="net.sourceforge.czt.eclipse.zeves.ui.proof.pred"
            name="Proof Predicate Selected"
            parentId="net.sourceforge.czt.eclipse.zeves.ui.proof.term">
      </context>
      <context
            id="net.sourceforge.czt.eclipse.zeves.ui.proof.expr"
            name="Proof Expr Selected"
            parentId="net.sourceforge.czt.eclipse.zeves.ui.proof.term">
      </context>
   </extension>
   <extension
         point="org.eclipse.core.expressions.definitions">
      <definition
            id="net.sourceforge.czt.eclipse.zeves.ui.proof.inTermContext">
         <with
               variable="activeContexts">
            <iterate
                  ifEmpty="false"
                  operator="or">
               <equals
                     value="net.sourceforge.czt.eclipse.zeves.ui.proof.term">
               </equals>
            </iterate>
         </with>
      </definition>
      <definition
            id="net.sourceforge.czt.eclipse.zeves.ui.proof.inPredContext">
         <with
               variable="activeContexts">
            <iterate
                  ifEmpty="false"
                  operator="or">
               <equals
                     value="net.sourceforge.czt.eclipse.zeves.ui.proof.pred">
               </equals>
            </iterate>
         </with>
      </definition>
      <definition
            id="net.sourceforge.czt.eclipse.zeves.ui.proof.inExprContext">
         <with
               variable="activeContexts">
            <iterate
                  ifEmpty="false"
                  operator="or">
               <equals
                     value="net.sourceforge.czt.eclipse.zeves.ui.proof.expr">
               </equals>
            </iterate>
         </with>
      </definition>
      <definition
            id="net.sourceforge.czt.eclipse.zeves.ui.inOutputView">
         <with
               variable="activePartId">
            <equals
                  value="net.sourceforge.czt.eclipse.zeves.ui.views.Output">
            </equals>
         </with>
      </definition>
      <definition
            id="net.sourceforge.czt.eclipse.zeves.ui.inZEvesPerspective">
         <with
               variable="activeWorkbenchWindow.activePerspective">
            <equals
                  value="net.sourceforge.czt.eclipse.zeves.ui.ZEvesPerspective">
            </equals>
         </with>
      </definition>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="net.sourceforge.czt.eclipse.ui.preferences.base"
            class="net.sourceforge.czt.eclipse.zeves.ui.preferences.ZEvesPreferencePage"
            id="net.sourceforge.czt.eclipse.zeves.ui.preferences.zeves"
            name="Z/EVES">
      </page>
      <page
            category="net.sourceforge.czt.eclipse.ui.preferences.compiler"
            class="net.sourceforge.czt.eclipse.zeves.ui.preferences.ProblemSeveritiesPreferencePage"
            id="net.sourceforge.czt.eclipse.zeves.ui.preferences.severities"
            name="Errors/Warnings">
      </page>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="net.sourceforge.czt.eclipse.zeves.ui.preferences.ZEvesPreferenceInitializer">
      </initializer>
   </extension>
   <extension
         point="net.sourceforge.czt.eclipse.ui.problemSeverityProviders">
      <provider
            class="net.sourceforge.czt.eclipse.zeves.ui.preferences.ZEvesProblemSeverityProvider">
      </provider>
   </extension>
   <extension
         point="org.eclipse.ui.startup">
      <startup
            class="net.sourceforge.czt.eclipse.zeves.ui.ZEvesUIPlugin"></startup>
   </extension>
   <extension
         point="org.eclipse.ui.navigator.navigatorContent">
      <commonWizard
            type="new"
            wizardId="net.sourceforge.czt.eclipse.ui.wizards.CztProject">
         <enablement>
            <reference
                  definitionId="net.sourceforge.czt.eclipse.zeves.ui.inZEvesPerspective">
            </reference>
         </enablement>
      </commonWizard>
      <commonWizard
            type="new"
            wizardId="net.sourceforge.czt.eclipse.ui.wizards.ZSpecification">
         <enablement>
            <reference
                  definitionId="net.sourceforge.czt.eclipse.zeves.ui.inZEvesPerspective">
            </reference>
         </enablement>
      </commonWizard>
   </extension>
</plugin>
