/*
  Copyright (C) 2005 Petra Malik
  This file is part of the czt project.

  The czt project contains free software; you can redistribute it and/or modify
  it under the terms of the GNU General Public License as published by
  the Free Software Foundation; either version 2 of the License, or
  (at your option) any later version.

  The czt project is distributed in the hope that it will be useful,
  but WITHOUT ANY WARRANTY; without even the implied warranty of
  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  GNU General Public License for more details.

  You should have received a copy of the GNU General Public License
  along with czt; if not, write to the Free Software
  Foundation, Inc., 59 Temple Place, Suite 330, Boston, MA  02111-1307  USA
*/
#set( $typebase = ${complex_type.BaseType.Name} )
#set( $typename = ${complex_type.Name} )
#set( $classname = "Prover${typename}" )

package net.sourceforge.czt.rules.ast;

import net.sourceforge.czt.base.ast.Term;
import net.sourceforge.czt.rules.Joker;
import net.sourceforge.czt.z.ast.*;
import net.sourceforge.czt.z.impl.ZFactoryImpl;
import net.sourceforge.czt.zpatt.ast.*;
import net.sourceforge.czt.zpatt.impl.${typename}Impl;

/**
 * An implementation of the ${typename} and Joker interface.
 *
 * @author Petra Malik
 */
public class ${classname}
  extends ${typename}Impl
  implements Joker
{
  private ${typename}Binding binding_;
#if(${classname} == 'ProverJokerRefName')

  private ProverJokerDeclName jokerDeclName_;

  protected void setJokerDeclName(ProverJokerDeclName jokerDeclName)
  {
    jokerDeclName_ = jokerDeclName;
  }

  protected ProverJokerDeclName getJokerDeclName()
  {
    return jokerDeclName_;
  }
#end
#if(${classname} == 'ProverJokerDeclName')

  private ProverJokerRefName jokerRefName_;

  protected void setJokerRefName(ProverJokerRefName jokerRefName)
  {
    jokerRefName_ = jokerRefName;
  }

  protected ProverJokerRefName getJokerRefName()
  {
    return jokerRefName_;
  }
#end

  protected ${classname}(String name)
  {
    super.setName(name);
    binding_ = new ${classname}Binding(this);
  }

  public Term boundTo()
  {
    return getBinding().get${typebase}();
  }

#if(${classname} == 'ProverJokerDeclName' || ${classname} == 'ProverJokerRefName' )
  protected Binding bind2(Term term)
  {
    if (! (term instanceof ${typebase})) {
      String message = "Cannot bind " + term + " to a ${typename}";
      throw new IllegalArgumentException(message);
    }
    ${typebase} v${typebase} = (${typebase}) term;
    getBinding().set${typebase}(v${typebase});
    return getBinding();
  }

#end
  public Binding bind(Term term)
  {
    if (! (term instanceof ${typebase})) {
      String message = "Cannot bind " + term + " to a ${typename}";
      throw new IllegalArgumentException(message);
    }
    ${typebase} v${typebase} = (${typebase}) term;
    getBinding().set${typebase}(v${typebase});
#if(${classname} == 'ProverJokerDeclName')
    if (v${typebase} instanceof JokerDeclName) {
      ProverJokerRefName assoc = getJokerRefName();
      assoc.bind2(((ProverJokerDeclName) v${typebase}).getJokerRefName());
    }
    else if (v${typebase} instanceof ZDeclName) {
      ZDeclName zDeclName = (ZDeclName) v${typebase};
      ZFactory factory = new ZFactoryImpl();
      ZRefName zRefName = factory.createZRefName(zDeclName.getWord(),
                                                 zDeclName.getStrokeList(),
                                                 zDeclName);
      getJokerRefName().bind2(zRefName);
    }
    else {
      String message = "Cannot bind " + term + " to a ${typename}";
      throw new IllegalArgumentException(message);
    }
#end
#if(${classname} == 'ProverJokerRefName')
    if (v${typebase} instanceof JokerRefName) {
      ProverJokerDeclName assoc = getJokerDeclName();
      assoc.bind2(((ProverJokerRefName) v${typebase}).getJokerDeclName());
    }
    else if (v${typebase} instanceof ZRefName) {
      ZRefName zRefName = (ZRefName) v${typebase};
      getJokerDeclName().bind2(zRefName.getDecl());
    }
    else {
      String message = "Cannot bind " + term + " to a ${typename}";
      throw new IllegalArgumentException(message);
    }
#end
    return getBinding();
  }

  public ${typename}Binding getBinding()
  {
    return binding_;
  }

  public void setName(String name)
  {
    throw new UnsupportedOperationException();
  }

  public ${classname} create(Object[] args)
  {
    throw new UnsupportedOperationException();
  }
}
